@{
    ViewBag.Title = "APDAYC :: GRUPOS DE MODALIDADES DE USO";
    Layout = "~/Views/Shared/_Layout.cshtml";   
}

<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
<script src="@Url.Content("~/Content/bootstrap/js/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/base/modBusquedaGrupoModalidad.js")"></script>
    
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>


<br />
<table style="width: 100%">
    <tr>
        <td>
            <div id='divTitulo'>Grupos de Modalidades de Uso</div>           
        </td
    </tr>
    
    <tr>
        <td style="vertical-align: top; height: 10px !important;"></td>
    </tr>
    <tr>
        <td>
            <center>
                <table width='98%' border='0' id='FiltroTabla'   >
                   
                     <tr>
                         <td style=" width:15%;padding-left:2%"> Ingrese descripción :</td>
                        <td style="width:50%">
                             <input type="text" id="txtBusqueda" placeholder="Ingrese el dato de busqueda." class="form-control" style="width:60%"/>                            
                        </td>
                    </tr>
                    <tr>
                        <td style=" width:15%;padding-left:2%"> Estado :</td>
                        <td>
                            <select name="ddlEstado" id="ddlEstado">
                            </select>
                        </td>
                         <td style="padding-left:17%">   
                            <div style=" text-align:center;">
                                    <button id="btnBusqueda" class="boton"  >
                                         <img src="@Url.Content("~/Images/botones/buscar2.png")" width="16px" />
                                        &nbsp;Buscar</button> &nbsp;
                            <button id='btnLimpiar'  class="boton" name='btnLimpiar'>Limpiar
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="16px" /></button> 
                            </div>
                        </td>
                    </tr>

                </table>
            </center>
        </td>
    </tr>

    <tr>
        <td style='height: 40px; vertical-align: bottom;'>

            <div style="float: right;">
                <div class="btn-group">
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-tasks"></i>&nbsp;Mas</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span>&nbsp;</span>

                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btnsuprimir">Suprimir</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("DownloadReport", "GRUPOMODALIDAD", new { format = "PDF" })" target="_blank"><i class="glyphicon glyphicon-save"></i>&nbsp;Vista Previa PDF</a></li>
                    <li><a href="@Url.Action("DownloadReport", "GRUPOMODALIDAD", new { format = "EXCEL" })" target="_blank"><i class="glyphicon glyphicon-save"></i>&nbsp;Vista Previa EXCEL</a></li>
                </ul>
            </div>
               


                <a  href="@Url.Action("Nuevo", "GRUPOMODALIDAD")" class="btn">
                    <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registrar nuevo grupo de modalidad." title="Registrar nuevo grupo de modalidad."  />
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="listado"></div>
        </td>
    </tr>


</table>




