@model SGRDA.Entities.BEREC_MOD_IMPACT

@{
    ViewBag.Title = "APDAYC :: INCIDENCIAS DE LA OBRA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

<script>
    $(function () {
        var url;
        url = $(this).attr("href");

        $(".alert-link").hide();
        $("#message").hide();

        $("#nombre").hide();
        $("#std").hide();
        $("#descripcion").attr("disabled", "enabled");
        $("#btnSave").hide();
        $("#btncancel").hide();

        $("#btnedit").click(function () {
            $("#btnSave").show();
            $("#btncancel").show();
            $("#btnnuevo").hide();
            $("#dnombre").hide();
            $("#dstd").hide();
            $("#btnNeo").hide();

            $("#nombre").show();
            $("#std").show();

            $("#descripcion").removeAttr('disabled');
            $("#btnedit").hide();
                
            return false;
        })

        $("#btncancel").click(function () {
            $("#btnSave").hide();
            $("#btnnuevo").show();
            $("#dnombre").show();
            $("#dstd").show();

            $("#nombre").hide();
            $("#std").hide();

            $("#descripcion").attr("disabled", "enabled");
            $("#btnedit").show();
            $("#btncancel").hide();

            return false;

            location.reload();

        })
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
   <br />
    
    <table border="0" style="width: 98%;" id='FiltroTabla' cellspacing="2" cellpadding="2">

        <tr>
            <td colspan="4" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <table border="0" style=" width:100%;">
                        <tr>
                            <td>
                                   <div id="divTituloPerfil">         Incidencias de la Obra - Actualización</div>

                            </td>
                            <td> 
                                
                
                 <div style="float: right;">
                    <div class="botonLink" style="width: 80px;">
                        <a href="@Url.Action("../Incidenciaobra/", "Incidenciaobra")"   >
                            <div style="color: #000; font-weight: 200; margin-top: 3px; margin-left: 5px;">
                                Volver
                            <img src="@Url.Content("~/Images/botones/back.png")"  width="24"  />
                            </div>
                        </a>
                    </div>
                    &nbsp;
                        <div class="botonLink" style="width: 80px;" id="btnNeo">
                            <a href="@Url.Action("Create", "Incidenciaobra")"  id="btnnuevo"  >
                                <div style="color: #000; font-weight: 200; margin-top: 3px; margin-left: 5px;">
                                    Nuevo
                                    <img src="@Url.Content("~/Images/botones/neo.png")"  width="24"  />
                                </div>
                            </a>
                        </div>
                    &nbsp;
                              <button id="btnedit" class="boton">
                                  <span style="color: #000; font-weight: 200;">Editar </span>
                                  <img src="@Url.Content("~/Images/botones/editb.png")" width="24" />
                              </button>
                    &nbsp;
                             <button id="btncancel" class="boton">
                                 <span style="color: #000; font-weight: 200;">Descartar </span>
                                 <img src="@Url.Content("~/Images/botones/undo.png")" width="24" />
                             </button>


                    &nbsp;
                               <button id="btnSave" class="boton">
                                   <span style="color: #000; font-weight: 200;">Grabar </span>
                                   <img src="@Url.Content("~/Images/botones/save.png")" width="24" />
                               </button>


                </div></td></tr></table>
            </td>

        </tr>

        <tr>
            <td colspan="4" style="height: 10px;"></td>
        </tr>
        <tr>
            <td style="width:13%; padding-left:2%">
                @Html.HiddenFor(model => model.OWNER, htmlAttributes: new { id = "OWNER" })
                @Html.HiddenFor(model => model.MOD_INCID, htmlAttributes: new { id = "MOD_INCID" })
                Id : 
            </td>
            <td>
                @Html.TextBoxFor(model => model.MOD_INCID, htmlAttributes: new { id = "MOD_INCID", disabled = "disabled", style = "width:60px;" })
                @Html.ValidationMessageFor(model => model.MOD_INCID)
            </td>
        </tr>
        <tr>
            <td style="width:13%; padding-left:2%">
                Descripción :
            </td>
            <td>
                @Html.TextBoxFor(model => model.MOD_IDESC, htmlAttributes: new { id = "MOD_IDESC", disabled = "disabled", MaxLength = "40", style = "width:200px;" })
                @Html.ValidationMessageFor(model => model.MOD_IDESC)
            </td>
        </tr>

        <tr>
            <td style="width:13%; padding-left:2%">
                Detalle :
            </td>
            <td>
                @Html.TextBoxFor(model => model.MOD_IDET, htmlAttributes: new { id = "MOD_IDET", disabled = "disabled", MaxLength = "512", style = "width:400px;" })
                @Html.ValidationMessageFor(model => model.MOD_IDET)
            </td>
        </tr>

        <tr>
            <td colspan="4" style="height: 10px;"></td>
        </tr>
    </table>
}

<script>
    $("#btnedit").click(function () {
        document.getElementById("MOD_IDESC").disabled = false;
        document.getElementById("MOD_IDET").disabled = false;
    })
</script>

<script>
    $("#btncancel").click(function () {
        document.getElementById("MOD_IDESC").disabled = true;
        document.getElementById("MOD_IDET").disabled = true;
    })
</script>

<script type="text/ecmascript">
    if ('@TempData["msg"]' != "") {
        $(function () {
            $("#message").show();
            $(".alert-link").show();
        })
    };

    if ('@TempData["flag"]' == "1") {
        $("#btnNeo").hide();
        $("#btnedit").hide();
        alert("Grabado correctamente.");
        location.href = "../"
    };
</script>

<br />
<div id="message">
    <div class="@TempData["class"]">
        <a id="lnk" href="#" class="alert-link">OK! </a>@TempData["msg"]
    </div>
</div>
