@{
    ViewBag.Title = "APDAYC :: Tarifa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reglas de Calculo de las Tarifas - Nuevo</title>

    <link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Style/SRGDA.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Tarifa/tarifa.nuevo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.modalidaduso.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.tarifa.js")"></script>
    

     <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>
</head>

<body>
    <div>
        <div id="ContenedormvModalidad"></div>
        <div id="ContenedormvBuscarTarifa"></div>
        <br />
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;" colspan="10">

                    <input id="hidId" type="hidden" />
                    <input id="hidIdOrigen" type="hidden" />
                    <input id="hidOpcionEdit" type="hidden" />
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                         <td  colspan="10" style="  text-align:right; "  class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">                                
                        <table border="0" style=" width:100%;">
                        <tr>
                            <td>
                                <div id='divTituloPerfil' style="  text-align:left">
                                   Tarifa Plantilla - Nuevo
                                 </div>
                            </td>
                            <td>
                                <div style="float:right;">                              
                                <button id="btnRegresar" style="vertical-align:middle;"  class="boton" name="btnRegresar">Volver 
                                <img src="@Url.Content("~/Images/botones/back.png")" width="14" /></button>                            
                                 &nbsp;
                                 <button id="btnGrabar"  class="boton" name="btnGrabar">Grabar 
                                <img src="@Url.Content("~/Images/botones/save.png")" width="14" /></button> 
                                </div>
                            </td>
                            </tr>
                         </table>

                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td colspan="10">
                            <div class="contenedor">                                
                                <center>
                                    <table border="0" style="width:98%;">                             
                                
                                <tr id="trId">
                                    <td style="width:140px">                                         
                                        Id:
                                    </td>
                                    <td colspan="2">
                                        <input type="text" id="txtId" readonly/>
                                    </td>
                                </tr>

                                <tr>
                                    <td >
                                        Descripción :
                                    </td>                                    
                                    <td colspan="2">        
                                        
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="text" id="txtDescripcion" class="requerido" style="width:450px"  maxlength="80"></input>
                                                </td>
                                                <td>                                                    
                                                    <div id="divResultValidacionDescripcion"></div> 
                                                </td>
                                            </tr>
                                        </table>                                 
                                        
                                    </td>
                                  
                                     <td style="width:140px">                                         
                                        Fecha de Vigencia :
                                    </td>
                                    <td colspan="2">
                                        <input type="text" id="txtFecha" class="requerido" readonly/>
                                        <input type="text" id="txtFechaCreacion" />
                                    </td>
                                    
                                </tr>
                                <tr>
                                   
                                </tr>
                                <tr>
                                    <td style="width:140px">                                         
                                        Moneda :
                                    </td>
                                    <td colspan="2">
                                        <select  id="ddlMoneda" class="requeridoLst" style="text-transform:uppercase"></select>
                                    </td>

                                    
                                     <td style="width:140px">                                         
                                        Fecha de Vencimiento :
                                    </td>
                                    <td colspan="2">
                                        <input type="text" id="txtFechaVencimiento" class="requerido" readonly/>
                                    </td>
                                    

                                </tr>
                                <tr>
                                    <td>
                                        Modalidad :
                                    </td>
                                     <td colspan="2">
                                            <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarMod" style="cursor:pointer;"  alt="Búsqueda de Responsable" title="Búsqueda de Responsable"/>
                                            <input type="hidden" id="hidModalidad" class="requerido" /> 
                                            <label id="lblModalidad" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Modalidad" title="Búsqueda de Modalidad" >
                                                Seleccione una modalidad.
                                            </label>                                        
                                    </td>
                                 
                                    <td>Con Redondeo :</td>
                                    @*<td rowspan="4"><textarea id="txtObservacion" rows="4" cols="40" ></textarea></td>*@
                                    <td><input type="checkbox" id="chkRedondeo" /></td>
                                </tr>
                                <tr>
                                    <td style="width:140px">                                         
                                        Periodocidad :
                                    </td>
                                    <td>
                                        <select  id="ddlPeriodocidad" class="requeridoLst"></select>
                                    </td>          
                                    <td>
                                        <div id="divPeriodocidadVal"></div>
                                     </td>     
                                    <td>Observación :</td>
                                    <td rowspan="4"><textarea id="txtObservacion" rows="4" cols="40" ></textarea></td>                     
                                </tr>
                                <tr>
                                    <td>
                                        Cuenta Contable :
                                    </td>
                                    <td>
                                        <select id="ddlCuentaContable" class="requeridoLst"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Indicador de Repertorio :
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkRepertorioUso" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        N° de Variables :
                                    </td>        
                                    <td colspan="2">
                                       <table>
                                            <tr>                                                
                                                <td>
                                                    <input type="text" id="numVariable" value="0" style="width:40px"  readonly/>
                                                </td>
                                                <td>
                                                    <div id="divResultNumCar"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                         <tr>
                                    <td>
                                        N° de Segmentos :
                                    </td>        
                                    <td >
                                        <input type="text" id="numSegmentos" value="0" style="width:40px"   readonly/>
                                    </td>
                                    <td>
                                        <div id="divResultNumSeg"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>VUM</td>
                                    <td>
                                        <input style="width:40px" type="text" id="txtVum"  readonly />
                                        <input type="hidden" id="hidVum" />
                                    </td>
                                  <TD><input type="hidden" id="hidtarifaPadre" /></TD>
                                    <td> TARIFA PADRE :
                                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarTarifa" style="cursor: pointer;" alt="Búsqueda de Tarifa" title="Búsqueda de Tarifa"/>
                                  </TD>
                                  <TD>     
                                        <label id="lbTarifa" style="cursor: pointer;" alt="Búsqueda de Tarifa" title="Búsqueda de Tarifa">Seleccione</label>
                                    </td>
                                    
                                </tr>
                              
                            </table>
                                </center>
                            </div>
                        </td>                                        
                      </tr>
                  
                         <tr><td></td></tr>

                 <tr>
                        <td colspan="10" ">
                            <center>
                                  <table class='FiltroTabla' border=0 width='95%;' class='ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix' id='FiltroTabla'>                                      
                                <thead>
                                    <tr>
                                        <th class='ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix'></th>
                                        <th class='ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix'>Formula</th>
                                        <th class='ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix'>Formato</th>
                                        <th class='ui-jqgrid-titlebar ui-widget-header ui-corner-top ui-helper-clearfix'>Decimales</th>
                                  </tr>
                                </thead>
                                   <tr>
                                        <td>REGLA</td>
                                       <td style="text-align:center"> <input type="text" id="txtFormulaRegla" readonly class="requerido"  style="width:200px;text-transform:uppercase"/> <input type="button" id="btnRegla" value="Ingresar"  </td>
                                       <td style="text-align:center"> <select id="ddlFormatoRegla" class="requeridoLst">    </select> </td>
                                       <td style="text-align:center"> <input type="text" id="txtDecimalesRegla"  maxlength="1" style="width:40px"/> </td>
                                   </tr>
                                   <tr>
                                       <td>MINIMO</td>
                                       <td style="text-align:center"> <input type="text" id="txtFormulaMinimo" readonly class="requerido" style="width:200px;text-transform:uppercase"/>  <input type="button" id="btnMinimo" value="Ingresar"/>  </td>
                                       <td style="text-align:center"> <select id="ddlFormatoMinimo" class="requeridoLst"></select></td>
                                       <td style="text-align:center"> <input type="text" id="txtDecimalesMinimo"  maxlength="1" style="width:40px"/> </td>
                                   </tr>
                                
                                </table>
                               
                            </center>

                                   
                               
                        </td>

                    
                    </tr>
                       
                     <tr><td></td></tr>

          

                    <tr>
                        <td  colspan="10" >
                            <div id="tabs">
                                  <ul>
                                    <li><a href="#tabs-1" id="tabObs">Lista de Elementos</a></li>
                                    <li><a href="#tabs-2" id="tabObs">Descuentos de la Tarifa</a></li>
                                  </ul>

                                 <div id="tabs-1">
                                    <table style="width: 100%;" border="0"> 
                                        <tr>
                                            <td id="tdBoton">
                                               <div id="imgCaracteristicaRemove">                                                    
                                                    <img src="~/Images/botones/add.png" class="addCaracteristica" height="30" >
                                                </div>
                                                <div id="imgRegla">                                                    
                                                    <img src="~/Images/botones/add.png" class="addRegla" height="30" >
                                                </div>
                                                <div id="hrefCaracteristica" style="margin-top: -30px; margin-left: 30px;" ><a href="#" class="addRegla">Agregar Elemento</a></div>

                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="gridRegla"></div>
                                            </td>
                                        </tr>
                                        <tr><td></td></tr><tr><td></td></tr>
                                        <tr>
                                            <td>
                                                Caracteristicas
                                                <hr />
                                            </td>
                                        </tr>
                                          <tr>
                                            <td>
                                                <div id="gridCaracteristica"></div>
                                            </td>
                                        </tr>

                                    </table>
                                </div>
                                
                                <div id="tabs-2">
                                    <table style="width: 100%;" border="0"> 
                                        <tr>
                                            <td>
                                                <div id="imgDescuento">                                                    
                                                    <img src="~/Images/botones/add.png" class="addDescuento" height="30" >
                                                </div>
                                                <div id="hrefDescuento" style="margin-top: -30px; margin-left: 30px;" ><a href="#" class="addDescuento">Agregar Descuento</a></div>
                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="gridDescuento"></div>
                                            </td>
                                        </tr>
                                        <tr><td></td></tr><tr><td></td></tr>
                                        
                                    </table>
                                </div>

                            </div>
                        </td>
                    </tr>
                    
                </table>

            </center>

                </td>
            </tr>

            <tr>
                <td style='height: 30px;'>
                    <center>                       
                        <div id='aviso' style=" width: 100% ; vertical-align:  middle; "></div>
                     </center>
                </td>
            </tr>
        </table>



    </div>



    <div title="Agregar Elemento" id="mvRegla">
        <table width='100%' border='0' id='FiltroTablaPopObs'>
            <tr>
                <td style="width: 90px">Tipo
                </td>
                <td>
                    <select id="ddlTipo">
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 90px">Elemento :</td>
                <td>
                    <input type="hidden" id="hidAccionMvObs" />
                    <input type="hidden" id="hidEdicionObs" />
                    <select id="ddlElemento" style="width:150px">        </select>
                </td>
            </tr>
        </table>
    </div>

    <div title="Agregar Descuento" id="mvDescuento">
        <table width='100%' border='0' id='FiltroTablaPopDescuento'>
            <tr>
                <td style="width: 140px">Tipo Descuento :
                </td>
                <td>
                    <select id="ddlTipoDescuento">
                    </select>
                </td>
            </tr>
            <tr>
                <td style="width: 140px">Descuento :</td>
                <td>
                    <input type="hidden" id="hidAccionMvDes" />
                    <input type="hidden" id="hidEdicionDes" />
                    <select id="ddlDescuento">
                    </select>
                </td>
            </tr>
            <tr>
                  <td style="width: 140px">Formato Descuento :
                </td>
                <td>
                    <input type="text" id="txtFormato" readonly  style="width:40px" />
                    <input type="hidden" id="hidSigno" />
                </td>                
            </tr>
            <tr id="trvalor">
                <td>Valor :</td>
                <td>
                    <input type="text" id="txtValor" style="width:50px" readonly />
                </td>
            </tr>
        </table>
    </div>


        <div title="Generar Formula" id="mvFormula">
        <table width='100%' border='0' id='FiltroTablaPopObs'>            
            <tr>               
                <td>Formula :</td>
                <td colspan="2">
                    <input type="hidden" id="hidFormula" />
                    <input type="text" id="txtFormulaPopUp"  maxlength="100" value="Limpiar" style="width:280px" />
                    <input type="button" id="btnLimpiarPopup" value="Limpiar"/>
                </td>
            </tr>
            <tr>
                <td>Valores :</td>
                <td>
                    <table>
                        <td>
                            <input type="button" id="numT" value="T" />
                            <input type="button" id="numW" value="W" />
                            <input type="button" id="numX" value="X" />
                            <input type="button" id="numY" value="Y" />
                            <input type="button" id="numZ" value="Z" />
                             | 
                            <input type="button" id="numR" value="R" />
                            <input type="button" id="numV" value="V (VUM)" "/>
                            &nbsp
                            <input type="button" id="numBack" value="<-" />
                        </td>
                    </table>

                </td>
            </tr>
            <tr>
                <td>Operadores :</td>
               
            </tr>
            <tr>
                <td></td>
                <td style="text-align:center">
                    <table id="FiltroTabla">
                        <tr>
                            <td>
                                <input type="button" id="num7" value="7" />
                            </td>
                            <td>
                                <input type="button" id="num8" value="8" style="width:40px"/>
                            </td>
                            <td>
                                <input type="button" id="num9" value="9" />
                            </td>
                            <td>
                                <input type="button" id="numDivisor" value="/" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" id="num4" value="4" />
                            </td>
                            <td>
                                <input type="button" id="num5" value="5" style="width:40px"/>
                            </td>
                            <td>
                                <input type="button" id="num6" value="6" />
                            </td>
                            <td>
                                <input type="button" id="numMultiplicador" value="*" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" id="num1" value="1" />
                            </td>
                            <td>
                                <input type="button" id="num2" value="2" style="width:40px" />
                            </td>
                            <td>
                                <input type="button" id="num3" value="3" />
                            </td>
                            <td>
                                <input type="button" id="numResta" value="-" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" id="num0" value="0" />
                            </td>
                            <td>
                                <input type="button" id="numPabierto" value="(" style="width:10px"/>
                                <input type="button" id="numPcerrado" value=")" style="width:10px"/>
                            </td>
                            <td>
                                <input type="button" id="numPunto" value="." />
                            </td>
                            <td>
                                <input type="button" id="numSuma" value="+" />
                            </td>
                        </tr>
                    </table>
                    
                </td>
            </tr>
        </table>
    </div>


</body>
</html>

