@model SGRDA.Entities.BEREC_QUALIFY_CHAR
@{
    ViewBag.Title = "Create";
}


<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
<link href="@Url.Content("~/Style/Style.css")" rel="stylesheet" />

<link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link href="~/Style/SRGDA.css" rel="stylesheet" />

<script>

    $(function () {
        $(".alert-link").hide();
        $("#message").hide();
        $("#message1").hide();
        $("#DESCRIPTION").focus();
    });
</script>

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

@using (Html.BeginForm("Create", "CARACTERISTICASTIPOSCALIFICADORES", FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
        
    <div id='divTituloPerfil' style="margin-top: 22px;">
        Característica tipo de calificaciones - Nuevo
    </div>
    <br />
    
    <center>
          <table border="0" style=" width:98%;" id='FiltroTabla' cellspacing="2" cellpadding="2">
            <tr>
                <td colspan="4"   class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" >
                    <div style="float:right;">
                        <div class="botonLink"  style="width:80px;">
                        <a href="@Url.Action("../CARACTERISTICASTIPOSCALIFICADORES/", "CARACTERISTICASTIPOSCALIFICADORES")"   >
                            <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">Volver
                            <img src="@Url.Content("~/Images/botones/back.png")"  width="24"  />
                                </div>
                        </a>
                            </div>
                             &nbsp;
                               <button id="btnSave"  class="boton">
                                 <span style=" color:#000; font-weight:200;">Grabar </span> 
                                  <img src="@Url.Content("~/Images/botones/save.png")" width="24" />
                               </button> 


                        </div>
                </td>

            </tr>
             <tr>
                <td colspan="4" style=" height:10px;" ></td>
                 </tr>
            <tr>
            <td style="width:13%; padding-left:2%">
                @Html.LabelFor(model => model.QUA_ID)
            </td>
            <td>
                 @if (ViewData.ContainsKey("Lista_TiposCalificaciones"))
                 {
                    @Html.DropDownList("Lista_TiposCalificaciones", ViewData["Lista_TiposCalificaciones"] as List<SelectListItem>, new { style = "width:250px", id = "DQUA_ID" }) 
                 }
                @Html.ValidationMessageFor(model => model.QUA_ID)
            </td>
            </tr>

            <tr>
            <td style="width:13%; padding-left:2%">
                @Html.LabelFor(model => model.DESCRIPTION)
            </td>
            <td>
                @Html.TextBoxFor(model => model.DESCRIPTION, htmlAttributes: new { id = "DESCRIPTION",style = "width:300px;", maxlength = "40" })
                @Html.ValidationMessageFor(model => model.DESCRIPTION)
            </td>
            </tr>
              
            <tr>
                <td colspan="4" style=" height:10px;" ></td>
            </tr>

        </table>
    </center>

    <br />
    <div id="message1">
        <div class="@TempData["class1"]">
            @Html.ValidationSummary()
        </div>
    </div>     
}


<script type="text/ecmascript">

    if ('@TempData["msg"]' != "") {
        $(function () {
            $("#message").show();
            $(".alert-link").show();

        })
    };
    if ('@TempData["class1"]' != "") {
        $(function () {
            $("#message1").show();


        })
    };
</script>

<br />

<div id="message">
    <div class="@TempData["class"]">
        <a id="lnk" href="#" class="alert-link">OK! </a>@TempData["msg"]
    </div>
</div>

