@{
    ViewBag.Title = "APDAYC :: Tarifa Plantilla Descuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Plantilla Descuento</title>

    <style>
        #tblCaracteristica {
            border: 1px solid #CCC;
            height: 50px;
            border-radius: 6px;
        }
    </style>

    <link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Style/SRGDA.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/Tarifa/tarifa.plantilla.descuento.nuevo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

</head>

<body>
    <div>
        <div id="ContenedormvBuscarSocio"></div>
        <br />
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;">

                    <input id="hidId" type="hidden" />
                    <input id="hidOpcionEdit" type="hidden" />
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                       <td  colspan="3" style="  text-align:right; "  class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                       <table border="0" style=" width:100%;">
                        <tr>
                            <td>
                                <div id='divTituloPerfil' style="  text-align:left">
                                   Plantilla de Descuento - Nuevo
                                </div>
                            </td>
                            <td>
                                <div style="float:right;">                              
                                <button id="btnRegresar" style="vertical-align:middle;"  class="boton" name="btnRegresar">Volver 
                                <img src="@Url.Content("~/Images/botones/back.png")" width="14" /></button>                            
                        
                                 &nbsp;
                                 <button id="btnGrabar"  class="boton" name="btnGrabar">Grabar 
                                <img src="@Url.Content("~/Images/botones/save.png")" width="14" /></button> 
                                </div>
                            </td>
                            </tr>
                         </table>
                        </td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td colspan="5">
                            <div class="contenedor">                                
                                <center>
                                    <table border="0" style="width:98%;">                             
                                
                                <tr id="trId">
                                    <td>Id :</td>
                                    <td colspan="5"><input type="text" id="txtId" readonly/></td>
                                </tr>

                                <tr>
                                    <td>Descripción :</td>                                    
                                    <td colspan="5">       
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="text" id="txtDescripcion" class="requerido" style="width:700px" maxlength="200"></input>
                                                </td>
                                                <td>                                                    
                                                    <div id="divResultValidacionDescripcion"></div> 
                                                </td>
                                            </tr>
                                        </table>                                 
                                    </td>
                                </tr>

                                <tr>
                                    <td>Tipo de Descuento :</td>
                                    <td><select id="ddlTipoFormato" style="width:120px"></select>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        Fecha de Vigencia :  
                                        &nbsp;&nbsp;&nbsp;
                                         <input type="text" id="txtFecha" class="requerido" readonly/></td>
                                </tr>
                                <tr>
                                    <td style="width:130px">
                                        N° de Variables :
                                    </td>        
                                    <td>
                                        <input type="text" id="numVariable" value="0" style="width:40px" readonly  />
                                    </td>
                                    <td>
                                        <div id="divResultNumCar"></div>
                                    </td>
                                </tr>
                            </table>
                                </center>
                            </div>
                        </td>                                        
                      </tr>

                    <tr><td></td></tr>



                    <tr>
                        <td  colspan="3" >
                            <div id="tabs">
                                  <ul>
                                    <li><a href="#tabs-8" id="tabObs">Lista de Caracteristica</a></li>
                                  </ul>

                                     <div id="tabs-8">

                                    <table style="width: 100%;" border="0"> 
                                        <tr>
                                            <td id="tdBoton">
                                                <div id="imgCaracteristica">
                                                    <img src="~/Images/botones/add.png" class="addCaracteristica" height="30" >
                                                </div>
                                                <div id="hrefCaracteristica" style="margin-top: -30px; margin-left: 30px;" ><a href="#" class="addCaracteristica">Agregar Caracteristica  </a></div>
                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >
                                                <div id="gridCaracteristica"></div>
                                            </td>
                                        </tr>
                                  
                                        <tr><td></td></tr><tr><td></td></tr>

                                          <tr>
                                            <td id="tdBotonMatriz">
                                                <div id="imgCaracteristicaMatriz">
                                                    <img src="~/Images/botones/add.png" class="generarMatriz" height="30" >
                                                </div>
                                                <div id="hrefMatriz" style="margin-top: -30px; margin-left: 30px;" ><a href="#" class="generarMatriz">Generar Matriz  </a></div>
                                                <hr />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td >
                                                <input type="hidden" id="hidCambioMatriz" />
                                                <div id="gridMatriz"></div>
                                            </td>
                                        </tr>

                                    </table>


                                </div>

                            </div>
                        </td>
                    </tr>

                 


                </table>

            </center>

                </td>
            </tr>

            <tr>
                <td style='height: 30px;'>
                    <center>                       
                        <div id='aviso' style=" width: 100% ; vertical-align:  middle; "></div>
                     </center>
                </td>
            </tr>

        </table>
    </div>



        <div title="Agregar Caracteristica" id="mvObservacion">
            <table width='100%' border='0' id='FiltroTablaPopObs'>
                <tr>
                    <td style="width: 210px">Caracteristica :</td>
                    <td>
                        <input type="hidden" id="hidAccionMvObs" />
                        <input type="hidden" id="hidEdicionObs" />
                        <input type="hidden" id="hidValorCar" />
                        <select id="ddlTipoCaracteristica">
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Tramo :
                    </td>
                    <td>
                        <input type="checkbox" id="chkTramo" />
                    </td>
                </tr>

            </table>
        </div>

        <div title="Agregar Valor" id="mvValor">
            <table width='100%' border='0' id='FiltroTablaPopVal'>

                <tr>
                    <td>
                        <input type="hidden" id="hidAccionMvVal" />
                        <input type="hidden" id="hidEdicionValCar" />
                        <input type="hidden" id="hidEdicionVal" />
                        Descripción :
                    </td>
                    <td>
                        <input type="text" id="txtDescVal" maxlength="40" style="width: 250px" />
                    </td>
                </tr>
                <tr>
                    <td>Desde :</td>
                    <td>
                        <input type="text" id="txtValDesde" maxlength="16" style="width: 60px" />
                    </td>
                </tr>
                <tr class="trValHasta">
                    <td style="width: 110px">Hasta :</td>
                    <td>
                        <input type="text" id="txtValHasta" maxlength="16" style="width: 60px" />
                    </td>
                </tr>


            </table>
        </div>
    



</body>
</html>

