@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="cache-control" content="no-cache" />
        <title>Licencia</title>
        @*<link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link href="~/Style/SRGDA.css" rel="stylesheet" />*@

        @*<link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
        <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
        <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>*@
        <script src="@Url.Content("~/Scripts/SGRDA/Licenciamiento/Licenciamiento.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/comun.autocompletar.js")"></script>

        <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.empresarial.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.modalidaduso.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.establecimiento.js")"></script>

            
       <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.grupo.facturacion.js")"></script>
       <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.aux.js")"></script>
       <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.artista.js")"></script>
       

    </head>
    <body>
        <div id="ContenedormvBuscarSocio"></div>
        <div id="ContenedormvBuscarModalidad"></div>
        <div id="ContenedormvEstablecimiento"></div>
        <div id="ContenedorMvSocioEmpresarial"></div>
        <div id="ContenedormvBuscarGrupoFacuracion"></div>
        <div id="ContenedormvArtista"></div>
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style=" vertical-align:bottom;">
                    <div id='divTitulo'>Consulta de Licencia</div>
                </td>
            </tr>
            <tr><td  style=" vertical-align: top;"><hr></td></tr>
            <tr>
                <td align="center">
                    <table width='98%' border='0' id='FiltroTabla'>
                        <tr>
                            <td align="center">
                                <div class="contenedor">
                                    <table style=' width:98%' border='0' id='FiltroTablas'>
                                        <tr>
                                            <td> Codigo de Licencia:</td>
                                            <td>
                                                <input type="hidden" id="hidLicReq" />
                                                <input type="text" id="txtCodLicencia" size="10"/>
                                            </td>
                                            <td> Nombre de la Licencia:</td>
                                            <td>
                                                <input type="text" id="txtNomLicencia" size="15" />
                                            </td>
                                            <td> Moneda:</td>
                                            <td>
                                                <select id="ddMoneda"></select>
                                            </td>
                                            <td> Tipo de Licencia:</td>
                                            <td>
                                                <select id="ddTipoLicencia"></select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Responsable:</td>
                                            <td>
                                                <table border="0" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td>
                                                            <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarBS" style="cursor:pointer;" alt="Búsqueda de Responsable" title="Búsqueda de Responsable"/>
                                                        </td>
                                                        <td>
                                                            <input type="hidden" id="hidResponsable"/>
                                                            <lable id="lbResponsable" style="cursor:pointer;" alt="Búsqueda de Responsable" title="Búsqueda de Responsable">Todos</lable>
                                                        </td>
                                                    </tr>
                                                </table>                                                
                                            </td>
                                            <td>Establecimiento</td>
                                            <td  >
                                                <table border="0" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td>
                                                            <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarEstablecimiento" style="cursor:pointer;" alt="Búsqueda de Establecimiento" title="Búsqueda de Establecimiento"/>
                                                            <input type="hidden" id="hidEstablecimiento" />
                                                        </td>
                                                        <td colspan="6"> <label id="lblEstablecimiento" style="cursor:pointer;" alt="Búsqueda de Establecimiento" title="Búsqueda de Establecimiento">Todos</label> </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            
                                            @*<td> Establecimiento:</td>
                                            <td>
                                                <select id="ddEstablecimiento"></select>
                                            </td>*@
                                            <td> Tipo de División:</td>
                                            <td>
                                                <select id="ddTipoDivision"></select>
                                            </td>
                                            <td> División:</td>
                                            <td>
                                                <select id="ddDivision">
                                                    <option value="0">TODOS</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td> Modalidad:</td>
                                            <td>
                                                @*<select id="ddModalidad"></select>*@
                                                <table border="0" style="border-collapse: collapse;">
                                                    <tr>
                                                        <td>
                                                            <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarMOD" style="cursor:pointer;" alt="Búsqueda de Modalidad" title="Búsqueda de Modalidad"/>
                                                        </td>
                                                        <td>
                                                            <input type="hidden" id="hidModalidad"/>
                                                            <lable id="lbModalidad" style="cursor:pointer;" alt="Búsqueda de Modalidad" title="Búsqueda de Modalidad">Todos</lable>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td> Tarifa Asociada:</td>
                                            <td>
                                                <select id="ddTarifaAsociada" style=" width:300px;"></select>
                                               @* <input type="hidden" id="hidTarifa"/>
                                                <label id="lblTarifaDesc">Todos</label>*@
                                            </td>
                                            <td> Temporalidad:</td>
                                            <td>
                                                <select id="ddTemporalidad"></select>
                                                @*<input type="hidden" id="hidTemporalidad"/>
                                                <label id="lblTemporalidadDesc">Todos</label>*@
                                            </td>
                                            
                                            <td> Estado de Licencia :</td>
                                            <td>
                                                <select id="ddEstadoLicencia"></select>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>Codigo Multiple:</td><td><input type="text" id="txtCodMult" name="txtCodMult" maxlength="6"></td>
                                         @* GRUPO COMERCIAL*@

                                        <td>
                                            GRUPO EMPRESARIAL/COMERCIAL:
                                        </td>
                                        <td>  
                                            <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarGrupoEmpresarial" style="cursor:pointer;" alt="Busqueda de Grupo Comercial" title="Busqueda de Grupo Comercial" />
                                            <label id="lblGrupoEmpresarial">SELECCIONE UN GRUPO COMERCIAL </label>
                                            <input type="hidden" id="hidCodigoGrupoEmpresarial" value="0">
                                        </td>
                                            <td>
                                                GRUPO FACTURACION
                                            </td>
                                            <td>
                                        <input type="hidden" id="hidGrupoFacturacion"/>
                                        <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarGRU" style="cursor: pointer;" alt="Búsqueda de Grupo Factutación." title="Búsqueda de Grupo Facturación."/>
                                        <label id="lbGrupo" style="cursor: pointer;" alt="Búsqueda de Grupo facturación." title="Búsqueda de Grupo facturación."> Seleccione Grupo</label>  
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>CON FECHA DE AUTORIZACION</td>
                                            <td><input type="checkbox" id="chkConFecha" /></td>
                                        <td>Fecha Inicial :</td>
                                        <td>
                                            <input type="text" id="txtFecInicial" readonly="false" class="requerido"/>
                                        </td>
                                        <td>Fecha Final :</td>
                                        <td >
                                        <input type="text" id="txtFecFinal" readonly="false" class="requerido"/>
                                        </td>
                                            <td>
                                                DESCRIPCION DE ARTISTA
                                            </td>
                                            <td>
                                                <input type="text" id="txtDescArtista">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>BUSQUEDA DE ARTISTAS</td>
                                            <td>
                                                <input type="hidden" id="hidArtistaSel" />
                                                <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarArtista" style="cursor:pointer;" alt="Busqueda de Aritstas" title="Busqueda de Artistas" />
                                                <label id="lblArtista">SELECCIONE </label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Estado de Licencias</td>
                                            <td>
                                                <select id="ddEstadoLic">
                                                    <option value="0"> Todos</option>
                                                    <option value="1">Activo</option>
                                                    <option value="2">Inactivo</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" align="center">
                                                <button id='btnBuscar'  class="boton" name='btnBuscar'>Buscar 
                                                    <img src="@Url.Content("~/Images/botones/buscar2.png")" width="16px" /></button> 
                                                <button id='btnLimpiar'  class="boton" name='btnLimpiar'>Limpiar
                                                    <img src="@Url.Content("~/Images/botones/refresh.png")" width="16px" /></button> 
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style='height: 40px; vertical-align:bottom;'>
                                <div style="float: right;">
                                    <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registrar nueva Licencia." title="Registrar nueva Licencia" id="btnNuevo"/>&nbsp;
                                    <img src="@Url.Content("~/Images/botones/delete.png")" alt="Inactivar datos de Licencia." title="Inactivar datos de Licencia"  id="btnEliminar"/>
                                    &nbsp; 
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td align="center">
                                <div id="grid"></div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <div title="Solicitud de Aprobacion de Requerimiento" id="mvSolicitudRequeLic">
            <table width='100%' border='0' id='FiltroTablaPopObs'>
                <tr>
                    <td>Tipo de Solicitud:</td>
                    <td><select id="ddltiporequerimiento"></select></td>
                </tr>
                <tr id="trlicenciaTipoInact">
                    <td>Tipo de Solicitud:</td>
                    <td><select id="ddltipoInact"></select></td>
                </tr>
                <tr id="trlicencia">
                    <td>
                        Licencia
                    </td>
                    <td>
                        <label id="lbllicid" style="cursor: pointer; font-weight:bold;">
                            CODIGO LICENCIA
                        </label>
                    </td>
                </tr>
                <tr>
                    <td style="width: 210px">Descripción del Requerimiento :</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <textarea id="txtAprobacionDesc" name="txtAprobacionDesc" rows="7" cols="65" placeholder="Ingrese descripción" style="width: 543px; height: 118px" maxlength="512"></textarea>
                    </td>

                </tr>
            </table>
        </div>
    </body>
</html>
