@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>COBROS CON NOTA DE CREDITO</title>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.autocompletar.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/recaudacion.bec.nc.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.correlativo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.oficina.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.correlativo.notacredito.js")"></script>

    @*busqueda de socio en en el PoPup de factura*@
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.bec.facturacion.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.correlativo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.oficina.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.grupo.facturacion.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.aux.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.agentecomercial.js")"></script>
</head>
<body>
    <div id="ContenedormvOficina"></div>
    <div id="ContenedormvBuscarCorrelativo"></div>
    <div id="ContenedormvBuscarCorrelativoNC"></div>
    <div id="ContenedormvBuscarConsultaFacuraBec"></div>

    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
        <tr>
            <td style=" vertical-align:bottom;">
                <div id='divTitulo'>MODULO DE CREACION DE COBROS CON NOTA DE CREDITO</div>
            </td>
        </tr>
        <tr><td style=" vertical-align top;"><hr></td></tr>
        <tr>
            <td align="center">
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                        <td align="center">
                            <table style=' width:98%' border='0' id='FiltroTablas'>
                                <tr>
                                    <td align="left" style="width:200px">CODIGO DE DOCUMENTO:</td>
                                    <td><input type="text" id="txtcod"></td>
                                    <td>SERIE :</td>
                                    <td>
                                        <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarCorrelativo" style="cursor:pointer;" alt="Búsqueda de Serie" title="Búsqueda de Serie" />
                                        <input type="hidden" id="hidCorrelativo" value="0" />
                                        <label id="lbCorrelativo" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Serie" title="Búsqueda de Serie">
                                            Seleccione una Serie.
                                        </label>
                                    </td>
                                    <td align="left" style="width:200px">NUMERO:</td>
                                    <td><input type="text" id="txtnum"></td>
                                </tr>
                                <tr>
                                    <td align="left" style="width:200px">FECHA  EMISION:</td>
                                    <td><input type="checkbox" id="chkConFechaCrea" /></td>
                                    <td><input type="text" id="txtFechaEmision" /></td>
                                    <td>OFICINA RECAUDO :</td>
                                    <td><input id="hidOficina" value="0" type="hidden"><img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscaOficina" style="cursor: pointer;" alt="Búsqueda de Oficina" title="Búsqueda de Oficina"><label id="lbOficina" style="cursor: pointer;" alt="Búsqueda de Oficina" title="Búsqueda de Oficina">SELECCIONE OFICINA</label></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
        <tr>
            <td colspan="8" align="center">
                <button id='btbuscarNCFACT' class="boton" name='btbuscarNCFACT'>
                    Buscar
                    <img src="@Url.Content("~/Images/botones/buscar2.png")" width="16px" />
                </button>
                <button id='btnLimpiaNCFACT' class="boton" name='btnLimpiaNCFACT'>
                    Limpiar
                    <img src="@Url.Content("~/Images/botones/refresh.png")" width="16px" />
                </button>
                <div style="float: right;">
                    <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registrar nuevo Cobro con NC." title="Registrar nuevo Cobro con NC." id="btnNuevoCobroNC" />&nbsp;
                    &nbsp;
                </div>
            </td>

        </tr>
        <tr id="trlistarNC">
            <td colspan="8">
                <div id="grid"></div>
            </td>
        </tr>
    </table>
    <div title="CREACION DE BEC CON NOTA DE CREDITO" id="mvCreacionBECNC">
        <table width='100%' border='0' id='FiltroTablaPopObs'>
            <tr>
                <td align="right">
                    CODIGO DOCUMENTO:
                </td>
                <td align="left"><input type="text" id="txtcoddocreg" /></td>
            </tr>
            <tr>
                <td align="right">SERIE :</td>
                <td align="left">
                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarCorrelativoNC" style="cursor:pointer;" alt="Búsqueda de Serie" title="Búsqueda de Serie" />
                    <input type="hidden" id="hidCorrelativoNC" value="0" />
                    <label id="lbCorrelativoNC" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Serie" title="Búsqueda de Serie">
                        Seleccione una Serie.
                    </label>
                </td>
            </tr>
            <tr>
                <td align="right">
                    NUMERO:
                </td>
                <td align="left"><input type="text" id="txtnumdocreg" /></td>
            </tr>
            <tr>
                <td colspan="8" align="center">
                    <button id='btbuscarNCFACTREG' class="boton" name='btbuscarNCFACTREG'>
                        Buscar
                        <img src="@Url.Content("~/Images/botones/buscar2.png")" width="16px" />
                    </button>
                    <button id='btnLimpiaNCFACTREG' class="boton" name='btnLimpiaNCFACTREG'>
                        Limpiar
                        <img src="@Url.Content("~/Images/botones/refresh.png")" width="16px" />
                    </button>
                </td>

            </tr>
            <tr>
                <td colspan="8">
                    <grid id="gridSeleccionNC"></grid>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>