

   @{
       ViewBag.Title = "APDAYC :: BEC INACTIVAS";
       Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    @*<script src="@Url.Content("~/Scripts/SGRDA/ReportingServices/mantenimiento.reporting.estado.de.cuenta.js")"></script>*@   
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.autocompletar.js")"></script>

    @*<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
        <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
        <script src="@Url.Content("~/Content/bootstrap/js/bootbox.min.js")"></script>*@
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.Licencia.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.aux.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.modalidaduso.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.modalidaduso.aux.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.correlativo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Reporte/mantenimiento.reporte.becs.inactivas.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.establecimiento.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
        * we use height instead, but this forces the menu to always be this tall
        */
        * html .ui-autocomplete {
            height: 200px;
        }
    </style>
</head>
<body>
    <div>
        <div id="ContenedormvBuscarSocio"></div>
        <div id="ContenedormvEstablecimiento"></div>
        <div id="ContenedormvLicencia"></div>
        <div id="ContenedormvModalidad"></div>
        <div id="ContenedormvBuscarCorrelativo"></div>

        <br />
        
        <table width='96%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;">

                    <div id='divTitulo'>REPORTE BECS INACTIVAS</div>


                </td>
            </tr>

            <tr>
                <td style="vertical-align: top; height: 10px !important;"></td>
            </tr>
            <tr>
                <td>
                    <center>

                        <table style="width:100%; padding-left:30px" id="FiltroTabla" border="0">
                            @*<tr>
                                <td>
                                      Ingrese RUC :
                                </td>
                                <td  style="width:250px">
                                    <input type="text" id="txtRuc" maxlength="40" style="width:200px" placeholder="INGRESE RUC" />
                                </td>
                                <td>
                                    CODIGO DE LICENCIA :
                                </td>
                                <td style="width:200px">
                                    <input type="text" id="txtlicencia" maxlength="40" style="width:120px" placeholder="N° LICENCIA" />
                                </td>
                                <td>
                                    <label>Estado: &nbsp;</label>
                                    <select id="divEstado">
                                        <option value=0 selected="selected">--Todos--</option>
                                        <option value=1>Cancelado</option>
                                        <option value=2>Pendiente</option>
                                        <option value=3>Parcialmente Cancelado</option>
                                        <option value=4>Anulado</option>
                                    </select>
                                </td>
                                </tr>*@           
                            
           
            <tr>
                <td align="right">
                    Serie : &nbsp;
                </td>
                <td>
                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarCorrelativo" style="cursor:pointer;" alt="Búsqueda de Serie" title="Búsqueda de Serie" />
                    <input type="hidden" id="hidCorrelativo" value="0" />
                    <input type="hidden" id="hidSerie" value="0" />
                    <input type="hidden" id="hidActual" value="0" />
                    <input type="hidden" id="hidIdFactura" value="0" />
                    <input type="hidden" id="hidIdDetalleFactura" value="0" />
                    <label id="lbCorrelativo" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Serie" title="Búsqueda de Serie">
                        Seleccione una Serie.
                    </label>

                </td>
                <td align="right">
                    <label>Nro :  &nbsp;</label>
                   
                </td>
                <td>
                    <input type="text" id="TxT_Nro" style="width:50px; height:15px;" />
                </td>
                <td style="width:100px" align="right">
                    Fecha Inicial :&nbsp&nbsp
                </td>
                <td>
                    <input type="text" id="txtFecInicial" readonly="false" class="requerido" />
                </td>
                <td style="width:100px" align="right">
                    Fecha Final :&nbsp&nbsp
                </td>
                <td>
                    <input type="text" id="txtFecFinal" readonly="false" class="requerido" />
                </td>
                @*<td>
                    <label>Codigo Factura:</label>
                    <input type="text" id="Cod_Factura"  style="width:50px; height:15px;"  />
                </td>*@
                <td id="tddllOficina" style="width:60px" align="right">
                    Oficina :&nbsp&nbsp&nbsp
                </td>
                <td id="tddllOficina2" style="width:280px" align="left">
                    <select id="dllOficina" style="width:260px"></select>
                </td>
                
                @*<td colspan="2">
                    <label>Estado: &nbsp;</label>
                    <select id="divEstado">
                        <option value=0 selected="selected">--Todos--</option>
                        <option value=1>Cancelado</option>
                        <option value=2>Pendiente</option>
                        <option value=3>Parcialmente Cancelado</option>
                        <option value=4>Anulado</option>
                    </select>
                </td>*@
                @*<td colspan="2">
                        <button id='btnPdf' class="boton" name='btnPdf'>
                            Rep. PDF
                            <img src="@Url.Content("~/Images/botones/pdf.png")" width="24px" />
                        </button>&nbsp;
                        <button id='btnExcel' class="boton" name='btnExcel'>
                            Rep. EXCEL
                            <img src="@Url.Content("~/Images/botones/excel.png")" width="24px" />
                        </button>
                    </td>*@

            </tr>
            <tr>
                @*<td>
                    Serie:
                </td>
                <td>
                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarCorrelativo" style="cursor:pointer;" alt="Búsqueda de Serie" title="Búsqueda de Serie" />
                    <input type="hidden" id="hidCorrelativo" value="0" />
                    <input type="hidden" id="hidSerie" value="0" />
                    <input type="hidden" id="hidActual" value="0" />
                    <input type="hidden" id="hidIdFactura" value="0" />
                    <input type="hidden" id="hidIdDetalleFactura" value="0" />
                    <label id="lbCorrelativo" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Serie" title="Búsqueda de Serie">
                        Seleccione una Serie.
                    </label>

                </td>*@
                @*<td>
                    <label>Nro: </label>
                    <input type="text" style="width:50px; height:15px;" />
                </td>*@
                <td align="right" width="120px">
                    SOCIO DE NEGOCIO :&nbsp;&nbsp;
                </td>
                <td>
                    <table border="0" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarBS" style="cursor:pointer;" alt="Búsqueda de Responsable" title="Búsqueda de Responsable" />
                            </td>
                            <td>
                                <input type="hidden" id="hidResponsable" />
                                <lable id="lblResponsable" style="cursor:pointer;" alt="Búsqueda de Responsable" title="Búsqueda de Responsable">Todos</lable>
                            </td>
                        </tr>
                    </table>
                </td>
                @*<td align="right" width="120px">Establecimiento :&nbsp&nbsp</td>
                <td>
                    <table border="0" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarEstablecimiento" style="cursor:pointer;" alt="Búsqueda de Establecimiento" title="Búsqueda de Establecimiento" />
                                <input type="hidden" id="hidEstablecimiento" />
                            </td>
                            <td colspan="6"> <label id="lblEstablecimiento" style="cursor:pointer;" alt="Búsqueda de Establecimiento" title="Búsqueda de Establecimiento">Todos</label> </td>
                        </tr>
                    </table>
                </td>*@

                <td>
                    <label>Codigo Factura :</label>                   
                </td>
                <td>
                    <input type="text" id="Cod_Factura" style="width:50px; height:15px;" />
                </td>
                <td align="right">
                    <label>Codigo BEC :  &nbsp;&nbsp;</label>
                </td>
                <td>
                    <input type="text" id="Cod_Bec" style="width:60px; height:15px;" />
                </td>
                <td style="width:60px" align="right">
                    Licencia : &nbsp;&nbsp;
                </td>
                <td>
                    <input type="hidden" id="hidLicencia" value="0" />
                    <table border="0" style="border-collapse: collapse;">
                        <tr>
                            <td>
                                <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarLic" style="cursor: pointer;" alt="Búsqueda de Licencia" title="Búsqueda de Licencia" />
                            </td>
                            <td colspan="6">
                                <label id="lblLicencia" style="cursor: pointer;" alt="Búsqueda de Licencia" title="Búsqueda de Licencia">Seleccione una licencia.</label>
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="2" align="right">
                    <button id='btnPdf' class="boton" name='btnPdf'>
                        Rep. PDF
                        <img src="@Url.Content("~/Images/botones/pdf.png")" width="24px" />
                    </button>&nbsp;
                    <button id='btnExcel' class="boton" name='btnExcel'>
                        Rep. EXCEL
                        <img src="@Url.Content("~/Images/botones/excel.png")" width="24px" />
                    </button>
                </td>
                @*<td colspan="2">
                        <label>Estado: &nbsp;</label>
                        <select id="divEstado">
                            <option value=0 selected="selected">--Todos--</option>
                            <option value=1>Cancelado</option>
                            <option value=2>Pendiente</option>
                            <option value=3>Parcialmente Cancelado</option>
                            <option value=4>Anulado</option>
                        </select>
                    </td>*@

            </tr>
            @*<tr>
                <td id="tdRadioButton" colspan="2">
                    <form name="frmTIPO">
                        <input type="radio" name="tipo" value="D" checked> DETALLADO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" name="tipo" value="R"> RESUMEN
                    </form>
                </td>
            </tr>*@
            @*<tr>
                <td>
                    <label id="hidCodigoGrupoEmpresarial" value="0" style="visibility:hidden" />
                </td>
                <td>
                    <label id="hidGrupoFacturacion" value="0" style="visibility:hidden" />
                </td>
            </tr>*@
        </table>
        </center>
        </td>
        </tr>
        <tr><td><br /></td></tr>
        <tr>
            <td style="vertical-align:central;text-align:center">
                <div id="contenedor" style="display:none"><iframe src="" width="98%" height="900" id="externo"></iframe></div>
            </td>
        </tr>
        <tr>
            <td style='height: 30px;'>
                <center>
                    <div id='error' style=" width 100% ; vertical-align middle; ">
                    </div>
                </center>
            </td>
        </tr>
        </table>
    </div>
</body>
</html>
