@model SGRDA.Entities.BEREC_TAX_ID

@{
    ViewBag.Title = "APDAYC :: DOCUMENTOS DE IDENTIFICACIÓN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)   
    
         <p>
            <input type="hidden" id="TAXT_ID" name="TAXT_ID" value="@Html.DisplayFor(model => model.TAXT_ID)"/>
        </p>        
}

<script type="text/ecmascript">

    if ('@TempData["msg"]' != "") {
        $(function () {
            $("#message").show();
            $(".alert-link").show();

        })
    };

</script>

<br />

<div id="message">
    <div class="@TempData["class"]">
        <a id="lnk" href="#" class="alert-link">OK! </a>@TempData["msg"]
    </div>
</div>
