@{
    ViewBag.Title = "APDAYC :: FORMAS DE PAGO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/base/modBusquedaFormasdePago.js")"></script>



<br />
<table style="width: 100%">
    <tr>
        <td>
            <div id='divTitulo'>Formas de Pagos</div>           
        </td
    </tr>
    
    <tr>
        <td style="vertical-align: top; height: 10px !important;"></td>
    </tr>
    <tr>
        <td>
            <center>
                <table width='98%' border='0' id='FiltroTabla'>
                   
                     <tr>
                         <td style="width:15%;padding-left:2%" nowrap>Ingrese Dato : </td>
                         <td>
                                <input type="text" id="txtBusqueda" placeholder="Ingrese el dato de busqueda." class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;padding-left:2%" nowrap> Estado :</td>
                        <td>
                            <select name="ddlEstado" id="ddlEstado">
                            </select>
                        </td>
                        <td style="text-align:right">
                            <button id="btnBusqueda" class="boton">Buscar
                            <img src="@Url.Content("~/Images/botones/buscar2.png")" width="16px" /></button> 

                            <button id='btnLimpiar'  class="boton" name='btnLimpiar'>Limpiar
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="16px" /></button> 
                        </td>
                    </tr>

                </table>
            </center>
        </td>
    </tr>

    <tr>
        <td style="padding-right: 1%">

            <div style="float: right;">
            <div class="btn-group">
                <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-tasks"></i>&nbsp;Mas</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                    <span>&nbsp;</span>

                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" id="btnsuprimir">Suprimir</a></li>
                    <li class="divider"></li>
                    <li><a href="@Url.Action("../FORMASDEPAGO/DownloadReport", "FORMASDEPAGO", new { format = "PDF" })" target="_blank"><i class="glyphicon glyphicon-save"></i>&nbsp;Vista Previa PDF</a></li>
                    <li><a href="@Url.Action("../FORMASDEPAGO/DownloadReport", "FORMASDEPAGO", new { format = "EXCEL" })" target="_blank"><i class="glyphicon glyphicon-save"></i>&nbsp;Vista Previa EXCEL</a></li>               
                </ul>
            </div>


                <a  href="@Url.Action("Nuevo", "FORMASDEPAGO")" class="btn">
                    <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registrar nueva forma de pago." title="Registrar nueva forma de pago."  />
                </a>
            </div>
        </td>
    </tr>

    <tr>
        <td>
            <div id="listado"></div>
        </td>
    </tr>


</table>
