@{
    ViewBag.Title = "APDAYC :: REQUERIMIENTO DE DINERO - SOLICITUD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Requerimiento de Dinero - Solicitud</title>
    <link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Style/SRGDA.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/RequerimientoDinero/requerimiento.dinero.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.autocompletar.js")"></script>
    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>
</head>
<body>
    <div>


        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;">

                    <div id='divTitulo'>Requerimiento de Dinero - Solicitud</div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <hr>
                </td>
            </tr>
            <tr>
                <td>
                    <table style="width: 800px" border='0'>
                        <tr>
                            <td style="padding-left: 2%">
                                <input type="radio" id="rbAbierto" name="rbEstado" class="rbEstado" value="1" checked="checked">ABIERTO
                            </td>
                            <td>
                                <input type="radio" id="rbAnulado" name="rbEstado" class="rbEstado" value="6">ANULADO
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                        <td><div id='divSubTitulo'>Por Socio de Negocio</div></td>
                    </tr>
                    <tr>
                        <td style="padding-left:2%"> Tipo de Identificación :</td>
                        <td>
                            <select id='ddlTipoDocumento' name="ddlTipoDocumento">
                            </select>
                        </td>
                        <td style="width:130px"> Nro. Identificación :</td>
                        <td colspan="3"> 
                            <input type='text' id='txtIdentificacion' placeholder='Ingrese Número' style=" width:200px;"   /> 
                        </td>
                    </tr>

                    <tr>
                        <td style="padding-left:2%;width:180px">Nombre/Razón Social : </td>
                        <td colspan="6"> 
                            <input type='text' id='txtRazon' placeholder='Ingrese Nombre / Razón Social' style=" width:480px;"   /> 
                            <input type="hidden" id="hidIdBps" />
                        </td>
                        <td style="text-align:right">
                            <button id='btnBuscar'  class="boton" name='btnBuscar'>Buscar 
                            <img src="@Url.Content("~/Images/botones/buscar2.png")" width="16px" /></button> 
                            
                            <button id='btnLimpiar'  class="boton" name='btnLimpiar'>Limpiar
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="16px" /></button> 
                        </td>
                    </tr>

                </table>
            </center>
                </td>
            </tr>
            <tr>
                <td style='height: 40px; vertical-align: bottom;'>
                    <div style="float: right;">
                        <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registrar grupo de gasto." title="Registrar definicion de gasto." id="btnNuevo"/>&nbsp;
                <img src="@Url.Content("~/Images/botones/delete.png")" alt="Inactivar grupo de gasto." title="Inactivar definicion de gasto."  id="btnEliminar"/>
                        &nbsp; 
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                    <center>
               <div id="grid"></div>

            </center>
                </td>
            </tr>
            <tr>
                <td style='height: 30px;'>
                    <center>
            <div id='error' style=" width: 100% ; vertical-align:  middle; ">
            </div>
    </center>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

