@{
    ViewBag.Title = "APDAYC :: REPORTES CONTABLE - DIARIO DE CAJA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>REPORTES DIARIO DE CAJA - CONTABLE</title>
    <link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Style/SRGDA.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>

    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    @*<script src="@Url.Content("~/Scripts/SGRDA/Reporte/mantenimiento.reporte.caja.js")"></script>*@
    <script src="@Url.Content("~/Scripts/SGRDA/Reporte/Contable/mantenimiento.reporte.contable.diario.caja.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
        * we use height instead, but this forces the menu to always be this tall
        */
        * html .ui-autocomplete {
            height: 200px;
        }
    </style>
</head>
<body>
    <div>
        <center>
            <table width='96%' border='0' cellspacing='0' cellpadding='0'>
                <tr>
                    <td>
                        <div id='divTitulo'>REPORTES CONTABLE - DIARIO DE CAJA</div>
                    </td>
                </tr>
                <tr>
                    <hr />
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <table style="width:100%; " id="FiltroTabla" border="0">
                                <tr>
                                    <td style="width:200px;padding-left:2%">
                                        Fecha Ingreso Inicial :
                                    </td>

                                    <td>
                                        <input type="text" id="txtFecInicial"   />
                                    </td>
                                    <td style="width:200px; padding-right:2%;text-align:right">
                                        Fecha Ingreso Final :
                                    </td>
                                    <td>
                                        <input type="text" id="txtFecFinal"  />
                                    </td>
                                    <td id="tddllOficina" style="width:100px; padding-left:3%">
                                        Oficina:
                                    </td>
                                    <td id="tddllOficina2">
                                        <select id="dllOficina"></select>
                                    </td>
                                </tr>

                                <tr>                                

                                    <td colspan="2">
                                        <table border="0" width="100%">
                                            <tr id="trRubro">
                                                <td style="width:200px;padding-left:2%">
                                                    Rubros :
                                                </td>
                                                <td  style="padding-left:2%">
                                                    <input type="radio" name="valida" value="T" checked> TV
                                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                                    <input type="radio" name="valida" value="C">Cable
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    
                                    <td style="width:200px;padding-right:2%;text-align:right">
                                        Periodo Contable :
                                    </td>
                                    <td>
                                        <select id="ddlPeriodoContable"></select>
                                    </td>
                                    <td></td>

                                    <td>
                                        <button id='btnPdf' class="boton" name='btnPdf'>
                                            Rep. PDF
                                            <img src="@Url.Content("~/Images/botones/pdf.png")" width="24px" />
                                        </button>

                                        &nbsp;
                                        <button id='btnExcel' class="boton" name='btnExcel'>
                                            Rep. EXCEL
                                            <img src="@Url.Content("~/Images/botones/excel.png")" width="24px" />
                                        </button>

                                    </td>

                                    @*<td style="text-align:right;width:1%;white-space:nowrap;">*@
                                </tr>

                                @*<tr id="trRubro">
                                    <td style="width:220px;padding-left:2%">
                                        Rubros :
                                    </td>
                                    <td colspan="10" style="padding-left:2%">
                                        <input type="radio" name="valida" value="T" checked> TV
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                        <input type="radio" name="valida" value="C">Cable
                                    </td>
                                </tr>*@

                                <tr style="display:none">
                                    <td style="width:220px;padding-left:2%;">
                                        Rubros : &nbsp;&nbsp;
                                        <input type="checkbox" id="chkTodosRubros" checked /> &nbsp;&nbsp; Todos
                                    </td>
                                    <td colspan="10" style="vertical-align:">
                                        <div id="gridModalidad" style="color:black">
                                    </td>
                                </tr>

                            </table>
                        </center>
                    </td>
                </tr>

                <tr><td><br /></td></tr>
                <tr>
                    <td style="vertical-align:central;text-align:center">
                        <div id="contenedor" style="display:none"><iframe src="" width="100%" height="900" id="externo"></iframe></div>
                    </td>
                </tr>
                <tr>
                    <td style='height: 30px;'>
                        <center>
                            <div id='error' style=" width 100% ; vertical-align middle; ">
                            </div>
                        </center>
                    </td>
                </tr>
            </table>
        </center>
        @*           ESTO ES PARA EL IFRAME*@
        @*<div id ="contenedor"style="display:none"><iframe src="" width ="1555" height="900" id="externo"></iframe></div>*@
    </div>
</body>
</html>

