
@{
    ViewBag.Title = "Detalle Empadronamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/SGRDA/Empadronamiento/matriz.empadronamiento.detalle.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>

    @*<script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/consulta.documento.detalle.js")"></script>*@

    @*<script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>*@

    @*<script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/mantenimiento.facturacionconsulta.js")"></script>
        <script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/mantenimiento.nota.credito.js")"></script>*@

    @*<script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>*@
    @*<script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>*@


    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.txtNumLiccss")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
        #tblFacturaMasiva {
            border: 1px solid #CCC;
            height: 50px;
            border-radius: 6px;
        }
    </style>

    <style>
        #tblDetalleFactura {
            border: 1px solid #CCC;
            height: 50px;
            border-radius: 6px;
        }
    </style>
</head>
<body>
    <div>

        <center>
            <table style="width: 99%" border="0">
                <tr>
                    <td>
                        <div id="divTitulo">Detalle Empadronamiento:</div>                                                
                        @*<div id="LIC_ID"></div>*@
                    </td>
                </tr>
                <tr>
                    <td id="divSubTitulo" style="width:100%; padding-left:10px ;padding-right:5px" > Codigo Licencia: <text id="LIC_ID" /> </td>
                    @*<td id="LIC_ID"></td>*@
                </tr>
                <tr>
                    <td id="divSubTitulo" style="width:100%; padding-left:10px ;padding-right:5px"> Nombre Licencia: <text id="LIC_NAME" /> </td>
                    @*<td id="LIC_ID"></td>*@
                </tr>
                <tr>
                    <hr />
                </tr>

                <tr>
                    <td colspan="2">
                        <center>
                            @*<table style="width:100%; padding-left:30px" id="FiltroTabla" border="0">*@
                            <table style="width:100%; padding-left:5px ;padding-right:5px" id="FiltroTablaCabecera" border="0">


                                @*<tr><td>Detalle- </td></tr>*@
                                <tr><td><hr /></td></tr>
                                <tr>
                                    <td>

                                        <div id="gridDetalle"></div>
                                    </td>
                                </tr> 
                            </table>
                        </center>
                    </td>
                </tr>




            </table>
        </center>
    </div>



</body>
</html>
