@{
    ViewBag.Title = "APDAYC :: Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Transiciones Estado</title>
    <link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Style/SRGDA.css" rel="stylesheet" />

   <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
   <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
   <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
   <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>

    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
   <script src="@Url.Content("~/Scripts/SGRDA/Mantenimientos/mantenimiento.transicionesEstado.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
  .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 200px;
  }
  </style>
</head>
<body>
    <div>
      
<br />       
<table width='100%' border='0' cellspacing='0' cellpadding='0'>
    <tr>
        <td style=" vertical-align:bottom;">

            <div id='divTitulo'>Tipo</div>
            <input id="hidOpcionEdit" type="hidden"/>
            <input id="hidBpsId" type="hidden"/>
        </td>
    </tr>
    <tr><td style="vertical-align: top; height: 10px !important;"></td></tr>
    <tr>
        <td>
            <center>
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                        <td style="padding-left:10px">Estado Origen :</td>
                        <td style="padding-right:36%"> 
                            <select id="ddlEstadoOri"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px">Estado Destino:</td>
                        <td> 
                            <select id="ddlEstadoDes"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-left:10px"> Estado :</td>
                        <td>
                            <select id="ddlEstado"></select>
                        </td>
                        <td style="text-align:right">
                            <button id='btnBuscar'  class="boton" name='btnBuscar'>Buscar 
                            <img src="@Url.Content("~/Images/botones/buscar2.png")" width="20px" /></button> 
                        &nbsp;
                            <button id='btnLimpiar'  class="boton" name='btnLimpiar'>Limpiar
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="20px" /></button> 
                        </td>
                    </tr>
                </table>
            </center>       
        </td>
    </tr>
        <tr>
                <td style='height: 40px; vertical-align: bottom;'>
                    <div style="float: right;">
                        <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registar nueva transicion estado." title="Registar nueva transicion estado." id="btnNuevo"/>&nbsp;
                                        <img src="@Url.Content("~/Images/botones/delete.png")" alt="Inactivar transicion estado." title="Inactivar transicion estado."  id="btnEliminar"/>
                        &nbsp; 
                    </div>
                </td>
            </tr>
    <tr><td>

            <center>
               <div id="grid"></div>

            </center> 
    </td></tr>
       <tr><td style='height: 30px;'>
    <center>
            <div id='error' style=" width: 100% ; vertical-align:  middle; ">
            </div>
    </center>
        </td></tr>
</table>
    </div>
</body>
</html>

