@model SGRDA.Entities.BEREF_TAX_DIVISION

@{
    ViewBag.Title = "APDAYC :: DIVISIONES FISCALES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

<script>
    $(function () {
        var url;
        url = $(this).attr("href");

        $(".alert-link").hide();
        $("#message").hide();

        $("#nombre").hide();
        $("#std").hide();
        $("#descripcion").attr("disabled", "enabled");
        $("#btnSave").hide();
        $("#btncancel").hide();

        $("#btnedit").click(function () {
            $("#btnSave").show();
            $("#btncancel").show();
            $("#btnnuevo").hide();
            $("#dnombre").hide();
            $("#dstd").hide();

            $("#nombre").show();
            $("#std").show();

            $("#descripcion").removeAttr('disabled');
            $("#btnedit").hide();
        })

        $("#btncancel").click(function () {
            $("#btnSave").hide();
            $("#btnnuevo").show();
            $("#dnombre").show();
            $("#dstd").show();

            $("#nombre").hide();
            $("#std").hide();

            $("#descripcion").attr("disabled", "enabled");
            $("#btnedit").show();
            $("#btncancel").hide();
            location.reload();
        })
        $("#TIS_N").prop("disabled", true);
        $("#TIS_N").css('color', '#333333').css('border', '1px solid gray').css('background-color', 'rgb(235, 235, 228)');
    });
</script>

@using (Html.BeginForm(FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    
    <br />
    <div id="divTituloPerfil">
        Divisiones Fiscales - Actualización
    </div>
    
    
    <center>
         <table border="0" style=" width:98%;" id='FiltroTabla' cellspacing="2" cellpadding="2">
           <tr>
               <td colspan="4"   class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" >
              
                    <div style="float:right">
                        <div class="botonLink"  style="width:80px;">
                            <a href="@Url.Action("../DIVISIONESFISCALES/", "DIVISIONESFISCALES")"   >
                                <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">Volver
                                    <img src="@Url.Content("~/Images/botones/back.png")"  width="24"  />
                                </div>
                            </a>
                        </div>

                        &nbsp;
                        <div class="botonLink"  style="width:90px;" id="btnnuevo">
                                <a href="@Url.Action("Create", "DIVISIONESFISCALES")"   >   
                                    <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">
                                        Nuevo
                                        <img src="@Url.Content("~/Images/botones/neo.png")"  width="24"  />
                                    </div>
                                </a>
                        </div>

                        &nbsp;
                        <div class="botonLink"  style="width:90px;" id="btnedit">
                            <a href="#" id="btnedit" >
                                <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">
                                    Editar
                                    <img src="@Url.Content("~/Images/botones/editb.png")"  width="24"  />
                                </div>
                            </a>
                        </div>

                        &nbsp;
                        <button id="btncancel"  class="boton">
                            <span style=" color:#000; font-weight:200;">Descartar </span> 
                            <img src="@Url.Content("~/Images/botones/undo.png")" width="24" />
                        </button> 

                        &nbsp;
                        <button id="btnSave"  class="boton">
                            <span style=" color:#000; font-weight:200;">Grabar </span> 
                            <img src="@Url.Content("~/Images/botones/save.png")" width="24" />
                        </button>   
                   </div>
               </td>
           </tr>
             <tr><td><br /></td></tr>

              <tr>
            <td style="width:160px ;padding-left:2% ;" > 
                @Html.LabelFor(p => p.DESCRIPTION) :
            </td>
            <td>
                @Html.TextBoxFor(p => p.DESCRIPTION, htmlAttributes: new { id = "DESCRIPTION", disabled = "disabled", style = "width:350px;" })              
            </td>
        </tr>
     <tr >        
        <td style="width:170px ;padding-left:2% ;" >   
       
     @Html.HiddenFor(p => p.TAXD_ID)
            @Html.HiddenFor(p => p.OWNER)
            Territorio :
         </td>
         <td>
            @if (ViewData.ContainsKey("Lista_TipoTerritorio"))
            {
                @Html.DropDownList("Lista_TipoTerritorio", ViewData["Lista_TipoTerritorio"] as List<SelectListItem>, new { style = "width:250px", id = "TIS_N" }) 
            }
         </td>

        </tr>
       
        <tr><td><br /></td></tr>
          </table>
    </center>
    
    
            
          
}

<script>
    $("#btnedit").click(function () {
        document.getElementById("OWNER").disabled = false;
        document.getElementById("DESCRIPTION").disabled = false;
        $("#TIS_N").prop("disabled", false);
        $("#TIS_N").css('color', '#333333').css('border', '1px solid gray').css('background-color', 'white');
    })
</script>

<script>
    $("#btncancel").click(function () {
        document.getElementById("OWNER").disabled = true;
        $("#TIS_N").prop("disabled", true);
        $("#TIS_N").css('color', '#333333').css('border', '1px solid gray').css('background-color', 'rgb(235, 235, 228)');
        document.getElementById("DESCRIPTION").disabled = true;
    })
</script>

<script type="text/ecmascript">
    if ('@TempData["msg"]' != "") {
        $(function () {
            $("#message").show();
            $(".alert-link").show();
        })
    };
</script>

<br />
<div id="message">
    <div class="@TempData["class"]">
        <a id="lnk" href="#" class="alert-link">OK! </a>@TempData["msg"]
    </div>
</div>

