@{
    ViewBag.Title = "APDAYC :: TIPO CAMPAÑAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Tipo campañas</title>

    <script src="@Url.Content("~/Scripts/SGRDA/Campania/mantenimiento.tipo.campania.nuevo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>
</head>
<body>
    <div>
        <br />
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
             <tr>
                <td colspan="4" style="vertical-align: bottom;">
                    <input id="hidOpcionEdit" type="hidden" />
                    <input id="hidCodigo" type="hidden" />

                </td>
            </tr>

            <tr>
                <td>
                    <center>
                        <table  width='98%' border='0' id='FiltroTablaPop'>
                            <tr>
                                <td colspan="4" style="text-align: right;" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">

                                    <table  width='100%' border='0' id='FiltroTabla'>
                                        <tr>
                                            <td style="width: 500px; text-align: left;">
                                                <div id='divTituloPerfil'>Tipo de Campaña - Nuevo</div>
                                            </td>
                                            <td colspan="1">
                                                <button id='btnVolver' class="boton" name='btnVolver'>
                                                Volver <img src="@Url.Content("~/Images/botones/back.png")" width="14px" /></button>
                                                &nbsp; <button id='btnNuevo' class="boton" name='btnNuevo'>
                                                Nuevo  <img src="@Url.Content("~/Images/botones/neo.png")" width="14px" /></button>
                                                &nbsp; <button id='btnGrabar' class="boton" name='btnGrabar'>
                                                Grabar <img src="@Url.Content("~/Images/botones/save.png")" width="14px" /></button>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </center>
                     
                    <tr>
                         <td ></td>
                    </tr>

                    <table border="0" style="width: 98%" class="contenedor">
                        <tr>
                            <td id="lbIdCampania">Id Tipo Campaña
                            </td>
                            <td>
                                <input id="txtCodigo" maxlength="60" style="width: 50px" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td>Descripción
                            </td>
                            <td>
                                <input id="txtDescripcion" maxlength="60" style="width: 250px" class="requerido"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 100px">Tipo Observación 
                            </td>
                            <td>
                                <select id="ddlTipoObservacion" class="requeridoLst"></select>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
