@model SGRDA.Entities.BEREC_SECTIONS
@{
    ViewBag.Title = "APDAYC :: TIPOS DE ENTRADAS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

<script>


    $(function () {
        var url;
        url = $(this).attr("href");

        $(".alert-link").hide();
        $("#message").hide();
        $("#btnSave").hide();
        $("#btncancel").hide();

        $("#btnedit").click(function () {
            $("#btnSave").show();
            $("#btncancel").show();
            $("#btnnuevo").hide();
            $("#btnNeo").hide();
            $("#btnedit").hide();

            return false;
        })

        $("#btncancel").click(function () {
            $("#btnSave").hide();
            $("#btnnuevo").show();
            $("#btnNeo").show();
            $("#btnedit").show();
            $("#btncancel").hide();

            location.reload();

            return false;
        })
    });
</script>


@using (@Html.BeginForm(FormMethod.Post))
{ 
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

     
    <br />
    <center>    
        <table border="0" style="width: 98%;" id='FiltroTabla' cellspacing="2" cellpadding="2">

            <tr>
                <td colspan="4" class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <table border="0" style=" width:100%;">
                        <tr>
                            <td>
                                <div id='divTituloPerfil' style="  text-align:left">
                                      Localidades - Actualización
                                     </div>

                            </td>
                            <td>
                                
                     <div style="float: right;">
                        <div class="botonLink" style="width: 80px;">
                            <a href="@Url.Action("../LOCALIDADES/", "LOCALIDADES")"   >
                                <div style="color: #000; font-weight: 200; margin-top: 3px; margin-left: 5px;">
                                    Volver
                                <img src="@Url.Content("~/Images/botones/back.png")"  width="24"  />
                                </div>
                            </a>
                        </div>
                        &nbsp;
                            <div class="botonLink" style="width: 80px;" id="btnNeo">
                                <a href="@Url.Action("Create", "LOCALIDADES")"  id="btnnuevo"  >
                                    <div style="color: #000; font-weight: 200; margin-left: 5px;">
                                        Nuevo
                                        <img src="@Url.Content("~/Images/botones/neo.png")"  width="24"  />
                                    </div>
                                </a>
                            </div>
                        &nbsp;
                                  <button id="btnedit" class="boton">
                                      <span style="color: #000000; font-weight: 200;">Editar </span>
                                      <img src="@Url.Content("~/Images/botones/editb.png")" width="24" />
                                  </button>
                        &nbsp;
                                 <button id="btncancel" class="boton">
                                     <span style="color: #000; font-weight: 200;">Descartar </span>
                                     <img src="@Url.Content("~/Images/botones/undo.png")" width="24" />
                                 </button>


                        &nbsp;
                                   <button id="btnSave" class="boton">
                                       <span style="color: #000; font-weight: 200;">Grabar </span>
                                       <img src="@Url.Content("~/Images/botones/save.png")" width="24" />
                                   </button>
                    </div>
                                  </td>
                            </tr>
                                  </table>
                </td>
            </tr>
            <tr>
                <td colspan="4" style="height: 10px;"></td>
            </tr>

            <tr>
            <td style="width:10%; padding-left:2%">
                @Html.HiddenFor(model => model.OWNER, htmlAttributes: new { id = "OWNER" })
                @Html.HiddenFor(model => model.SEC_ID, htmlAttributes: new { id = "SEC_ID" })
                Id :
            </td>
            <td>
                @Html.TextBoxFor(model => model.SEC_ID, htmlAttributes: new { id = "SEC_ID", disabled = "disabled", style = "width:60px;", MaxLength="3" })
                @Html.ValidationMessageFor(model => model.SEC_ID)
            </td>
            </tr>

            <tr>
            <td style="width:10%; padding-left:2%">
                @Html.LabelFor(model => model.SEC_DESC) :
            </td>
            <td>
                @Html.TextBoxFor(model => model.SEC_DESC, htmlAttributes: new { id = "SEC_DESC", disabled = "disabled", style = "width:400px;", MaxLength="40" })
                @Html.ValidationMessageFor(model => model.SEC_DESC)
            </td>
            </tr>

            <tr>
                <td colspan="4" style="height: 10px;"></td>
            </tr>
        </table>    
    </center>
}

<script>
    $("#btnedit").click(function () {
        document.getElementById("SEC_DESC").disabled = false;
    })
</script>

<script>
    $("#btncancel").click(function () {
        document.getElementById("SEC_DESC").disabled = true;
    })
</script>

<script type="text/ecmascript">

    if ('@TempData["msg"]' != "") {
        $(function () {
            $("#message").show();
            $(".alert-link").show();

        })
    };

    if ('@TempData["flag"]' == "1") {
        $("#btnNeo").hide();
        $("#btnedit").hide();
        alert("Grabado correctamente.");
        location.href = "../"
    };
</script>

<br />

<div id="message">
    <div class="@TempData["class"]">
        <a id="lnk" href="#" class="alert-link">OK! </a>@TempData["msg"]
    </div>
</div>

