@{
    ViewBag.Title = "APDAYC :: DESCUENTOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Descuentos</title>

    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Mantenimientos/mantenimiento.descuento.nuevo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.plantilla.descuentos.js")"> </script>
    
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
        * html .ui-autocomplete {
            height: 200px;
        }

        ul.ui-autocomplete {
            z-index: 1100;
        }
    </style>
</head>
<body>
    <div>
        <div id="ContenedormvBuscarPlantillaDescuento"></div>
        <br /> 
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;">

                    <input id="hidOpcionEdit" type="hidden" />
                    <input id="hidBpsId" type="hidden" />
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                         <td  colspan="6" style="  text-align:right; "  class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                            <table border="0" style=" width:100%;">
                                <tr>
                                    <td>
                                        <div id='divTituloPerfil' style="  text-align:left">
                                            Descuentos - Nuevo
                                        </div>
                                    </td>
                                    <td>
                                        <div style="float:right;">
                                            <button id="btnVolver"  class="boton" name="btnVolver">Volver
                                            <img src="@Url.Content("~/Images/botones/back.png")" width="24" /></button> 
                            
                                             &nbsp;
                                            <button id="btnNuevo"  class="boton" name="btnNuevo">Nuevo
                                            <img src="@Url.Content("~/Images/botones/neo.png")" width="24" /></button>

                                             &nbsp;
                                            <button id="btnEditar"  class="boton" name="btnEditar">Editar  
                                            <img src="@Url.Content("~/Images/botones/editb.png")" width="24" /></button>

                                             &nbsp;
                                             <button id="btnDescartar"  class="boton">
                                                 <span style=" color:#000; font-weight:200;">Descartar </span> 
                                                  <img src="@Url.Content("~/Images/botones/undo.png")" width="24" />
                                             </button> 

                                            &nbsp;
                                            <button id="btnGrabar"  class="boton" name="btnGrabar">Grabar  
                                            <img src="@Url.Content("~/Images/botones/save.png")" width="24" /></button>  
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px"><label id="lblid">ID:</label></td>
                        <td colspan="6"><input type='text' id='txtid' name='txtid' style="width:20px"/></td>
                    </tr>
                     <tr>
                        <td>Tipo de Descuento :</td>
                        <td colspan="6">
                            <select name="ddlTipoDescuento" id="ddlTipoDescuento">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Descripción :</td>
                        <td colspan="6"><input type='text' id='txtDescripcion'  class="requerido"  name='txtDescripcion' style="width:400px"/></td>
                    </tr>
                    <tr>
                        <td >Signo del Dscto. :</td>
                        @*<td><input type='text' id='txtSigno'  class="requerido"  name='txtSigno' style="width:50px"/></td> *@
                        <td><select name="ddlSigno" id="ddlSigno"></select></td>
                        <td style="width:140px">Porcentaje del Dscto. :</td>
                        @*<td ><input type='text' id='txtPorcentaje'  class="requerido"  name='txtPorcentaje' style="width:50px"/></td>*@
                        <td><select name="ddlPorcentaje" id="ddlPorcentaje"></select></td>
                        <td style="width:120px;text-align:right;padding-right:15px" >Monto:</td>
                        <td ><input type='text' id='txtValor'  class="requerido"  name='txtValor' style="width:50px"/></td>
                    </tr>
                    <tr>
                        <td>Cuenta Contable :
                        </td>
                        <td colspan="6">                            
                            <select id="ddlCuenta" class="requeridoLst"   ></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:160px">Indicador de Descuento :</td>
                        <td><label for="chkDescuento"><input type="checkbox" checked="checked" id="chkDescuento"/></label></td>
                    </tr>
@*                    <tr>
                        <td style="width:160px">Posee Plantilla:</td>
                        <td><label for="chkPlantilla"><input type="checkbox" checked="checked" id="chkPlantilla"/></label></td>
                    </tr>*@
                    <tr id="trBusquedaPlantilla">
                        <td>BUSQUEDA DE PLANTILLA</td><td colspan="2">
                            <img src="/Images/botones/buscar.png" id="btnBuscarPlant" style="cursor:pointer;" alt="Búsqueda de Plantilla" title="Búsqueda de Plantilla">
                            <input type="hidden" id="hidPlantillaDes"> 
                            <label id="lblPlantilla" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Plantilla" title="Búsqueda de Plantilla">Seleccione Plantilla</label>                                        
                         </td>
                    </tr>

                </table>
            </center>
                </td>
            </tr>
            <tr>
                <td style='height: 30px;'>
                    <center>
                <div id='error' style=" width: 100% ; vertical-align:  middle; ">
                </div>
            </center>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>

