@{
    ViewBag.Title = "APDAYC :: ARBOL DE AGENTES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Árbol de Agentes</title>

@*    <link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
    <link href="~/Style/SRGDA.css" rel="stylesheet" />

    <link href="@Url.Content("~/Content/styles/kendo.common.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/js/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Extensiones/jquery-ui-1.10.4/js/jquery-ui-1.10.4.custom.js")"></script>*@

    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
    <script src="@Url.Content("~/Content/bootstrap/js/bootbox.min.js")"></script>

    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Mantenimientos/mantenimiento.agente.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>
</head>
<body>

    <div>

        <br />
        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;">

                    <div id='divTitulo'>Árbol de Agentes</div>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top; height: 10px !important;"></td>
            </tr>
            <tr>
                <td>
                    <center>
                         <table width='98%' border='0' id='FiltroTabla'>
                                <tr>
                                    <td style="width:100px;">Nivel :</td>
                                    <td style="width:350px"><input type='text' id='txtNivel' placeholder='Ingrese nivel' name='txtNivel' style="width:300px" /></td>
                                </tr>
                                <tr>
                                    <td style="width:100px;"> Estado :</td> 
                                    <td>
                                        <select name="ddlEstado" id="ddlEstado">
                                        </select>
                                    </td>
                                    <td style="vertical-align: top; height: 10px !important;">
                                           @Html.ActionLink("Árbol de Agentes", "Treeview", "Agente", null, new
                                            {
                                                @class = "openDialog",
                                                data_dialog_id = "aboutDialog",
                                                data_dialog_title = "Árbol de Agentes"
                                            })
                                    </td>
                                    <td style="text-align:right">
                                        <button id='btnBuscar'  class="boton" name='btnBuscar'>Buscar 
                                        <img src="@Url.Content("~/Images/botones/buscar2.png")" width="20px" /></button> 
                                    &nbsp;
                                        <button id='btnLimpiar'  class="boton" name='btnLimpiar'>Limpiar
                                        <img src="@Url.Content("~/Images/botones/refresh.png")" width="20px" /></button> 
                                    </td>
                                </tr>
                            </table>
                        </center>
                </td>
            </tr>
            <tr>
                <td style="padding-right: 3%">

                    <div style="float: right;">
                        <div class="btn-group">
                            <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-tasks"></i>&nbsp;Mas</button>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span>&nbsp;</span>

                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#" id="btnEliminar">Suprimir</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("../Agente/DownloadReport", "Agente", new { format = "PDF" })" target="_blank"><i class="glyphicon glyphicon-save"></i>&nbsp;Vista Previa PDF</a></li>
                                <li><a href="@Url.Action("../Agente/DownloadReport", "Agente", new { format = "EXCEL" })" target="_blank"><i class="glyphicon glyphicon-save"></i>&nbsp;Vista Previa EXCEL</a></li>
                                <!--<li><a href="#">Vista Previa EXCEL</a></li>-->
                                <!-- <li><a id='single_2' href='ROLES/ReportViewer' target="_blank" class="popUp">Vista Previa</a></li>-->
                            </ul>
                        </div>
                        <span>&nbsp;</span><span>&nbsp;</span>

                        <img src="@Url.Content("~/Images/botones/nuevo.png")" alt="Registrar nuevo nivel de agente." title="Registrar nuevo nivel de agente." id="btnNuevo"/>
                    </div>
                </td>
            </tr>
            <tr>
                <td>

                    <center>
               <div id="gridAgente"></div>
            </center>
                </td>
            </tr>
            <tr>
                <td style='height: 30px;'>
                    <center>
            <div id='error' style=" width: 100% ; vertical-align:  middle; ">
            </div>
    </center>
                </td>
            </tr>
        </table>



    </div>



</body>
</html>
