@{
    ViewBag.Title = "APDAYC :: CLASE DE CREACIÓN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clases de Creación</title>

    <script src="@Url.Content("~/Scripts/SGRDA/Mantenimientos/mantenimiento.clase.creacion.nuevo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.css")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
        .ui-autocomplete {
            max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
        }
        /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
        * html .ui-autocomplete {
            height: 200px;
        }

        ul.ui-autocomplete {
            z-index: 1100;
        }
    </style>
</head>
<body>
    <div>


        <table width='100%' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td style="vertical-align: bottom;">

                   
                    <input id="hidOpcionEdit" type="hidden" />
                    <input id="hidBpsId" type="hidden" />
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                <table width='98%' border='0' id='FiltroTabla'>
                    <tr>
                         <td  colspan="3"    class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                                  <table border="0" style=" width:100%;">
                        <tr>
                            <td>
                                  <div id='divTituloPerfil'>Clases de Creación - Nuevo</div>
                            </td>
                            <td> 
                                
                
                 <div style="float: right;">
                             <button id="btnVolver"  class="boton" name="btnVolver">Volver 
                            <img src="@Url.Content("~/Images/botones/back.png")" width="24" /></button> 
                        
                            &nbsp;
                            <button id="btnGrabar"  class="boton" name="btnGrabar">Grabar  
                            <img src="@Url.Content("~/Images/botones/save.png")" width="24" /></button>  
                     </div></td></tr></table>
                        </td>
                    </tr>
                    <tr>
                        <td> Desc. Corta :</td>
                        <td><input type='text' id='txtDesCorta'  class="requerido"  name='txtDesCorta' maxlength="3"/></td>
                    </tr>
                    <tr>  <td> Descripción :</td>
                        <td><input type='text' id='txtDescripcion'   class="requerido"  name='txtDescripcion' maxlength="40" size="50" /></td>
                    </tr>
                    <tr><td></td></tr>
                    <tr>
                        <td  colspan="3" >
                            <div id="tabs">
                                    <ul>
                                    <li><a href="#tabs-1">Derechos</a></li>
                                    </ul>
                                    <div id="tabs-1">
                                        <table style=" width:100%;" border="0">
                                        <tr>
                                            <td colspan="4">
                                                        <div><img src="~/Images/botones/add.png" class="addDerecho" height="30"></div>
                                                    <div style=" margin-top:-30px; margin-left:30px;"> <a href="#" class="addDerecho">Agregar Derecho</a></div>
                                                <hr />                                                  
                                            </td>
                                        </tr>
                                            <tr>
                                                <td colspan="4"> 
                                                    <div id="gridDerecho"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </center>
                </td>
            </tr>
            <tr>
                <td style='height: 30px;'>
                    <center>
                <div id='error' style=" width: 100% ; vertical-align:  middle; ">
                </div>
            </center>
                </td>
            </tr>
        </table>
    </div>
    <div title="Agregar Derecho" id="mvDerecho">

        <table width='100%' border='0' id='FiltroTablaPopDet'>
            <tr style="display: none">
                <td>ID :</td>
                <td>
                    <input type='text' id='txtid' name='txtid' style="width: 20px" /></td>
            </tr>
            <tr>
                <td>Derecho :</td>
                <td>
                    <input type="hidden" id="hidAccionMvDer" />
                    <input type="hidden" id="hidEdicionDer" />
                    <select id="ddlDerecho"></select>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
