@model SGRDA.Entities.BEREC_LAWSUITE_TYPE

@{
    ViewBag.Title = "APDAYC :: TIPO DE LITIGIOS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/js/jquery.min.js")"></script>
<link href="@Url.Content("~/Style/Style.css")" rel="stylesheet" />
<link href="~/Scripts/Extensiones/jquery-ui-1.10.4/css/redmond/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
<link href="~/Style/SRGDA.css" rel="stylesheet" />

<style type="text/css">
    textarea {
        resize: none;
    }
</style>

<script>
    $(function () {
        var url;
        url = $(this).attr("href");

        $(".alert-link").hide();
        $("#message").hide();

        $("#nombre").hide();
        $("#std").hide();
        $("#descripcion").attr("disabled", "enabled");
        $("#btnSave").hide();
        $("#btncancel").hide();

        $("#btnedit").click(function () {
            $("#btnSave").show();
            $("#btncancel").show();
            $("#btnnuevo").hide();
            $("#dnombre").hide();
            $("#dstd").hide();

            $("#nombre").show();
            $("#std").show();

            $("#descripcion").removeAttr('disabled');
            $("#btnedit").hide();
        })

        $("#btncancel").click(function () {
            $("#btnSave").hide();
            $("#btnnuevo").show();
            $("#dnombre").show();
            $("#dstd").show();

            $("#nombre").hide();
            $("#std").hide();

            $("#descripcion").attr("disabled", "enabled");
            $("#btnedit").show();
            $("#btncancel").hide();

            location.reload();
        })
    });
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    
    
    <br />
   
    
    
    <center>
         <table border="0" style=" width:98%;" id='FiltroTabla' cellspacing="2" cellpadding="2">
           <tr>
               <td colspan="4"   class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" >
               <table border="0" style=" width:100%;">
                        <tr>
                            <td>
                                <div id='divTituloPerfil' style="  text-align:left">
                                         Tipos de Litigios - Actualización
    
                                     </div>

                            </td>
                            <td> 
                    <div style="float:right">
                        <div class="botonLink"  style="width:80px;">
                            <a href="@Url.Action("../TIPOSLITIGIOS/", "TIPOSLITIGIOS")"   >
                                <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">Volver
                                    <img src="@Url.Content("~/Images/botones/back.png")"  width="24"  />
                                </div>
                            </a>
                        </div>

                        &nbsp;
                        <div class="botonLink"  style="width:90px;" id="btnnuevo">
                                <a href="@Url.Action("Create", "TIPOSLITIGIOS")"   >   
                                    <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">
                                        Nuevo
                                        <img src="@Url.Content("~/Images/botones/neo.png")"  width="24"  />
                                    </div>
                                </a>
                        </div>

                        &nbsp;
                        <div class="botonLink"  style="width:90px;" id="btnedit">
                            <a href="#" id="btnedit" >
                                <div style=" color:#000; font-weight:200; margin-top:3px; margin-left:5px;">
                                    Editar
                                    <img src="@Url.Content("~/Images/botones/editb.png")"  width="24"  />
                                </div>
                            </a>
                        </div>

                        &nbsp;
                        <button id="btncancel"  class="boton">
                            <span style=" color:#000; font-weight:200;">Descartar </span> 
                            <img src="@Url.Content("~/Images/botones/undo.png")" width="24" />
                        </button> 

                        &nbsp;
                        <button id="btnSave"  class="boton">
                            <span style=" color:#000; font-weight:200;">Grabar </span> 
                            <img src="@Url.Content("~/Images/botones/save.png")" width="24" />
                        </button>   
                   </div></td></tr></table>
               </td>
           </tr>
             <tr><td><br /></td></tr>

             <tr>
                 <td style="width:10% ;padding-left:2% ;" >   
                    @Html.HiddenFor(model => model.OWNER, htmlAttributes: new { id = "OWNER" })
                    @Html.HiddenFor(model => model.LAWS_ID, htmlAttributes: new { id = "LAWS_ID" })
                    Id :
                 </td>
                 <td>
                     @Html.TextBoxFor(model => model.LAWS_ID, htmlAttributes: new { id = "LAWS_ID", disabled = "disabled", style = "width:60;" })
                     @*@Html.ValidationMessageFor(model => model.LAWS_ID)*@
                 </td>
             </tr>

             <tr >        
                <td style="width:10% ;padding-left:2% ;" >   
                    @Html.LabelFor(model => model.LAWS_DESC) :
                 </td>
                 <td>
                     @Html.TextBoxFor(model => model.LAWS_DESC, htmlAttributes: new { id = "LAWS_DESC", disabled = "disabled", style = "width:400;", MaxLength="40" })
                     @*@Html.ValidationMessageFor(model => model.LAWS_DESC)*@
                 </td>
            </tr>

             <tr><td><br /></td></tr>
          </table>
    </center>            

          
}

<script>
    $("#btnedit").click(function () {
        document.getElementById("LAWS_DESC").disabled = false;
    })
</script>

<script>
    $("#btncancel").click(function () {
        document.getElementById("LAWS_DESC").disabled = true;
    })
</script>

<script type="text/ecmascript">
    if ('@TempData["msg"]' != "") {
        $(function () {
            $("#message").show();
            $(".alert-link").show();
        })
    };

    if ('@TempData["flag"]' == "1") {
        $("#btnnuevo").hide();
        $("#btnedit").hide();
        alert("Grabado correctamente.");
        location.href = "../"
    };
</script>

<br />
<div id="message">
    <div class="@TempData["class"]">
        <a id="lnk" href="#" class="alert-link">OK! </a>@TempData["msg"]
    </div>
</div>
