
@{
    ViewBag.Title = "Consulta Documento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/consulta.documento.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/mantenimiento.facturacionconsulta.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/mantenimiento.facturacion.aprobacion.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/Recaudacion/mantenimiento.nota.credito.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/generales.js")"></script>
    <script src="@Url.Content("~/Scripts/js/cultures/kendo.culture.es-PE.min.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.dropdownlist.js")"></script>


    @*Busqueda General*@
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.empresarial.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.autocompletar.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.subdivisiones.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.correlativo.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.correlativo.notacredito.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.agentecomercial.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.grupo.facturacion.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.modalidaduso.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.Licencia.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.oficina.js")"></script>
    <script src="@Url.Content("~/Scripts/SGRDA/comun.buscador.socio.aux.js")"></script>


    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.core.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Extensiones/alerts/themes/alertify.default.txtNumLiccss")" />
    <script src="@Url.Content("~/Scripts/Extensiones/alerts/lib/alertify.min.js")"></script>

    <style>
        li.ui-state-default.ui-state-hidden[role=tab]:not(.ui-tabs-active) {
            display: none;
        }
    </style>

    <style>
        #tblFacturaMasiva {
            border: 1px solid #CCC;
            height: 50px;
            border-radius: 6px;
        }
    </style>

    <style>
        #tblDetalleFactura {
            border: 1px solid #CCC;
            height: 50px;
            border-radius: 6px;
        }
    </style>
</head>
<body>
    <div>
        <div id="ContenedormvBuscarSocio"></div>
        <div id="ContenedormvBuscarGrupoFacuracion"></div>
        <div id="ContenedormvBuscarCorrelativo"></div>
        <div id="ContenedormvBuscarCorrelativoNC"></div>

        <div id="ContenedormvBuscarAgenteComercial"></div>
        <div id="ContenedormvModalidad"></div>
        <div id="ContenedormvLicencia"></div>
        <div id="ContenedormvOficina"></div>
        <div id="ContenedormvNotaCredito"></div>
        <div id="ContenedormvSubDivision"></div>
        <div id="ContenedorMvSocioEmpresarial"></div>

        <center>
            <table style="width: 98%" border="0">
                <tr>
                    <td>
                        <div id="divTitulo">Recaudación - Consulta Documento</div>
                    </td>
                </tr>
                <tr>
                    <hr />
                </tr>
                <tr>
                    <td colspan="2">
                        <center>
                            <table style="width:100%; padding-left:30px" id="FiltroTabla" border="0">
                                @*<tr><td></td></tr>*@
                                <tr>
                                    <td>
                                        Serie:
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarCorrelativo" style="cursor:pointer;" alt="Búsqueda de Serie" title="Búsqueda de Serie" />
                                        <input type="hidden" id="hidCorrelativo" value="0" />
                                        <input type="hidden" id="hidSerie" value="0" />
                                        <input type="hidden" id="hidActual" value="0" />
                                        <input type="hidden" id="hidIdFactura" value="0" />
                                        <input type="hidden" id="hidIdDetalleFactura" value="0" />
                                        <label id="lbCorrelativo" style="cursor: pointer; font-weight:bold;" alt="Búsqueda de Serie" title="Búsqueda de Serie">
                                            Seleccione una Serie.
                                        </label>

                                    </td>
                                    <td>
                                        N° Factura :
                                    </td>
                                    <td>
                                        <input type="text" id="txtNumFact" maxlength="20" style="width:90px" />
                                    </td>


                                    <td>
                                        ID Factura :
                                    </td>
                                    <td>
                                        <input type="text" id="txtIdFact" maxlength="20" style="width:90px" />
                                    </td>


                                    @*<td style="width:100px">
                                        Tipo Licencia:
                                    </td>
                                    <td>
                                        <select id="dllTipoLicencia"></select>
                                    </td>*@
                                </tr>

                                <tr>
                                    <td style="width:120px">
                                        Socio de Negocio :
                                    </td>
                                    <td>
                                        <table border="0" style="border-collapse: collapse;" title="Socio de Negocio">
                                            <tr>
                                                <td>
                                                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarBS" style="cursor: pointer;" alt="Búsqueda de Socio" title="Búsqueda de Socio" />
                                                </td>
                                                <td colspan="6">
                                                    <label id="lbResponsable" style="cursor: pointer;" alt="Búsqueda de Socio" title="Búsqueda de Socio"> Seleccione un socio.</label>
                                                </td>
                                                <td>
                                                    <input type="hidden" id="hidAccionMvEnt" />
                                                    <input type="hidden" id="hidEdicionEnt" value="0" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width:140px">
                                        Grupo de Facturación:
                                    </td>
                                    <td>
                                        <input type="hidden" id="hidGrupo" value="0" />
                                        <table border="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td colspan="6">
                                                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscaGrupo" style="cursor: pointer;" alt="Búsqueda de Grupo Facturación" title="Búsqueda de Grupo Facturación" />
                                                    <label id="lbGrupo" style="cursor: pointer;" alt="Búsqueda de Grupo Facturacióm" title="Búsqueda de Grupo facturación">Seleccione un grupo facturación.</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    @*<td>
                                        Moneda:
                                    </td>
                                    <td>
                                        <select id="ddlMoneda" class="requeridoLst"></select>
                                    </td>*@

                                    <td>
                                        GRUPO EMPRESARIAL/COMERCIAL:
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarGrupoEmpresarial" style="cursor:pointer;" alt="Busqueda de Grupo Comercial" title="Busqueda de Grupo Comercial" />
                                        <label id="lblGrupoEmpresarial">SELECCIONE UN GRUPO COMERCIAL </label>
                                        <input type="hidden" id="hidCodigoGrupoEmpresarial" value="0">
                                    </td>
                                </tr>
                                <tr id="tdocultar">
                                    <td>
                                        <select id="ddlTipoFacturacionIndividual"><option value="0">--SELECCIONE--</option><option value="1" selected="selected">ELECTRONICO</option><option value="2">MANUAL</option></select>
                                    </td>
                                </tr>

                                @*<tr>
                                    <td>
                                        Con Fecha
                                    </td>
                                    <td>
                                        <input type="checkbox" id="chkConFecha" />
                                    </td>
                                </tr>*@

                                <tr>
                                    <td>
                                        Fecha Inicial : &nbsp; <input type="checkbox" id="chkConFecha" />
                                    </td>
                                    <td>
                                        <input type="text" id="txtFecInicial" readonly="false" class="requerido" />
                                    </td>
                                    <td>
                                        Fecha Final :
                                    </td>
                                    <td>
                                        <input type="text" id="txtFecFinal" readonly="false" class="requerido" />
                                    </td>

                                    <td>
                                        N° Licencia :
                                    </td>
                                    <td>
                                        <input type="text" id="txtNumLic" maxlength="20" style="width:90px" />
                                    </td>

                                </tr>
                                <tr>

                                    <td>
                                        Oficina recaudo :
                                    </td>
                                    <td>
                                        <input type="hidden" id="hidOficina" value="0" />
                                        <table border="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscaOficina" style="cursor: pointer;" alt="Búsqueda de Oficina" title="Búsqueda de Oficina" />
                                                </td>
                                                <td colspan="6">
                                                    <label id="lbOficina" style="cursor: pointer;" alt="Búsqueda de Oficina" title="Búsqueda de Oficina">Seleccione una oficina.</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>


                                    <td>
                                        Divisón :
                                    </td>
                                    <td>
                                        <input type="hidden" id="hidSubDivision" value="0" />
                                        <table border="0" style="border-collapse: collapse;">
                                            <tr>
                                                <td>
                                                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscaSubDivision" style="cursor: pointer;" alt="Búsqueda de Subdivisión" title="Búsqueda de Subdivisión" />
                                                </td>
                                                <td colspan="6">
                                                    <label id="lbSubDivision" style="cursor: pointer;" alt="Búsqueda de Subdivisión" title="Búsqueda de Subdivisión">Seleccione una subdivisión.</label>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                   
                                    <td>
                                        Agente Comercial :
                                    </td>
                                    <td>
                                        <table border="0" style="border-collapse: collapse;" title="Agente Comercial">
                                            <tr>
                                                <td colspan="6">
                                                    <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarAGE" style="cursor: pointer;" alt="Búsqueda Agente Comercial." title="Búsqueda Agente Comercial." />
                                                    <label id="lbAgente" style="cursor: pointer;" alt="Búsqueda de Agente Comercial." title="Búsqueda Agene Comercial.">
                                                        Seleccione un agente.
                                                    </label>
                                                </td>
                                                <td>
                                                    <input type="hidden" id="hidAccionMvEntAGE" />
                                                    <input type="hidden" id="hidEdicionEntAGE" value="0" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                </tr>
                             


                                @* GRUPO COMERCIAL*@
                                <tr>
                                    @*<td>
                                        GRUPO EMPRESARIAL/COMERCIAL:
                                    </td>
                                    <td>
                                        <img src="@Url.Content("~/Images/botones/buscar.png")" id="btnBuscarGrupoEmpresarial" style="cursor:pointer;" alt="Busqueda de Grupo Comercial" title="Busqueda de Grupo Comercial" />
                                        <label id="lblGrupoEmpresarial">SELECCIONE UN GRUPO COMERCIAL </label>
                                        <input type="hidden" id="hidCodigoGrupoEmpresarial" value="0">
                                    </td>*@
                                    <td>
                                        Moneda:
                                    </td>
                                    <td>
                                        @*<select id="ddlMoneda" class="requeridoLst"></select>*@
                                        <select id="ddlMoneda" ></select>
                                    </td>

                                    <td>
                                        Tipo :
                                    </td>
                                    <td>
                                        <select id="ddlTipoDocumento"></select>
                                    </td>

                                    <td>
                                        Estado Fact. :
                                    </td>

                                    <td >
                                        <select id="ddlEstado"></select>
                                    </td>

                                </tr>

                                <tr>
                                    <td>Orden</td>
                                    <td>
                                        <select id="ddlorden">
                                            @*<option value="0" selected="selected">--SELECCIONE--</option>
                                            <option value="1">FECHA EMISION DESCENTE</option>
                                            <option value="2">FECHA EMISION ASCENDENTE</option>
                                            <option value="3">SERIE Y NUMERO ASCENDENTE</option>
                                            <option value="4">SERIE Y NUMERO DESCENDENTE</option>
                                            <option value="5">ALFABETICO DESCENDENTE</option>
                                            <option value="6">ALFABETICO ASCENDENTE</option>
                                            <option value="7">ID DOCUMENTO ASCENDENTE </option>
                                            <option value="8">ID DOCUMENTO DESCENDENTE </option>*@
                                        </select>
                                    </td>
                                    <td colspan="2"></td>
                                    <td style="text-align: left;">
                                        Estado SUNAT
                                    </td>
                                    <td colspan="6">
                                        <select id="dllEstadoSunat"></select>
                                    </td>

                                </tr>

                            </table>
                        </center>
                    </td>
                </tr>

                @*<tr>
                    <td style="text-align: right; padding-right: 22px" colspan="2">
                        Tipo de Impresion :
                        <select id="ddlTipoImpresion"></select>
                        &nbsp&nbsp&nbsp&nbsp
                        <span style="font-size:small;font-weight:bold">Impresas</span>
                        <input type="checkbox" id="chkImp" />
                        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        &nbsp&nbsp&nbsp&nbsp
                        <span style="font-size:small;font-weight:bold">Anuladas</span>
                        <input type="checkbox" id="chkAnu" />
                    </td>
                </tr>*@

                <tr>

                    <td style="padding-left:30px">
                        <span style="font-size:small;font-weight:bold"> Total de Registros: </span>
                        <span style="font-size:small;font-weight:bold"><label id="CantidadRegistros">0</label></span>
                    </td>
                    <td style="text-align: right; padding-right: 20px">

                            <button id='btnPdf' class="boton" name='btnPdf'>
                                Rep. PDF
                                <img src="@Url.Content("~/Images/botones/pdf.png")" width="24px" />
                            </button>
                            &nbsp;
                            <button id='btnExcel' class="boton" name='btnExcel'>
                                Rep. EXCEL
                                <img src="@Url.Content("~/Images/botones/excel.png")" width="24px" />
                            </button>

                        <button id='btnEnviarAprobacion' class="boton" name='btnEnviarAprobacion'>
                            SOLICITAR APROBACION
                            <img src="@Url.Content("~/Images/botones/new32.png")" width="24px" />
                        </button>
                        <button id='btnNotaCredito' class="boton" name='btnNotaCredito'>
                            NOTA DE CRÉDITO
                            <img src="@Url.Content("~/Images/botones/new32.png")" width="24px" />
                        </button>
                        &nbsp;

                        <button id='btnEnviarManuales' class="boton" name='btnEnviarManuales'>
                            Reenviar DOc Manuales
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="24px" />
                        </button>
                        @*<img id='btnImprimir' alt="Reenviar Comprobantes Anulados" title="Reenviar Comprobantes Anulados" />*@

                        &nbsp;
                        <button id='btnReenviarAnulado' class="boton" name='btnReenviarAnulado'>
                            Reenviar DOc Anulados
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="24px" />
                        </button>
                        &nbsp;
                        <button id='btnReenviarSunatLocTrans' class="boton" name='btnReenviarSunatLocTrans'>
                            Reenviar Docs Masivos
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="24px" />
                        </button>
                        &nbsp;
                        <button id='btnReenviarSunat' class="boton" name='btnReenviarSunat'>
                            Reenviar Doc Sin Procesar
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="24px" />
                        </button>
                        &nbsp;
                        <button id='btnLimpiar' class="boton" name='btnLimpiar'>
                            Limpiar
                            <img src="@Url.Content("~/Images/botones/refresh.png")" width="24px" />
                        </button>
                        &nbsp; &nbsp;
                        <button id='btnBuscarDemo' class="boton" name='btnBuscarDemo'>
                            Buscar
                            <img src="@Url.Content("~/Images/botones/buscar2.png")" width="24px" />
                        </button>

                    </td>
                </tr>


                <tr>
                    <td colspan="2 ">

                        <div id="grid"></div>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align:central;text-align:center" colspan="2">
                        <div id="contenedor" style="display:none"><iframe src="" width="100%" height="900" id="externo"></iframe></div>
                    </td>
                </tr>
            </table>
        </center>
    </div>

    <div title="Anulación de la Factura" id="mvAnulacion">
        <table width='100%' border='0' id='FiltroTablaPopAnu'>
            <input type="hidden" id="hidIdFactA" />
            <input type="hidden" id="hidTipoF" />
            <input type="hidden" id="hidTipoDoc" />
            <tr>
                <td style="width: 210px">Descripción de la Anulación :</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="txtDescripcion" name="txtDescripcion" rows="7" cols="65" placeholder="Ingrese descripción" style="width: 543px; height: 118px" maxlength="512"></textarea>
                </td>

            </tr>
        </table>
    </div>
    <div title="Mandar a quiebra la Factura" id="mvQuiebra">
        <table width='100%' border='0' id='FiltroTablaPopObs'>
            <input type="hidden" id="hidIdFact" />
            @*<tr>
                    <td>Tipo de Nota de Crédito :</td>
                    <td><select id='ddlTipoNotaCredito' name="ddlTipoNotaCredito" style="width: 270px"></select></td>
                </tr>*@
            <tr>
                <td style="width: 210px">Descripción de la Quiebra :</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="txtQuiebra" name="txtQuiebra" rows="7" cols="65" placeholder="Ingrese descripción" style="width: 543px; height: 118px" maxlength="512"></textarea>
                </td>

            </tr>
        </table>
    </div>
    <div title="Anulación de la Factura" id="mvObservacion">
        <table width='100%' border='0' id='FiltroTablaPopObs'>
            <input type="hidden" id="hidIdFact" />
            <tr>
                <td>Tipo de Nota de Crédito :</td>
                <td><select id='ddlTipoNotaCredito' name="ddlTipoNotaCredito" style="width: 270px"></select></td>
            </tr>
            <tr>
                <td style="width: 210px">Descripción de la Anulación :</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="txtObservacion" name="txtObservacion" rows="7" cols="65" placeholder="Ingrese descripción" style="width: 543px; height: 118px" maxlength="512"></textarea>
                </td>

            </tr>
        </table>
    </div>


    <div title="Solicitud de Aprobacion de Documento" id="mvSolicitud">
        <table width='100%' border='0' id='FiltroTablaPopObs'>
            <input type="hidden" id="hidIdFact" />
            <tr>
                <td>Tipo de Solicitud:</td>
                <td><select id='ddltipoAprobacion' name="ddltipoAprobacion" style="width: 270px">
                    </select></td>
            </tr>
            <tr>
                <td style="width: 210px">Descripción de la Aprobacion :</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="txtAprobacionDescSo" rows="7" cols="65" placeholder="Ingrese descripción" style="width: 543px; height: 118px" maxlength="512"></textarea>
                </td>

            </tr>
        </table>
    </div>

    <div title="Solicitud de Aprobacion de Requerimiento" id="mvSolicitudRequeDoc">
        <table width='100%' border='0' id='FiltroTablaPopObs'>
            <tr>
                <td>Tipo de Solicitud:</td>
                <td><select id="ddltiporequerimiento"></select></td>
            </tr>
            <tr>
                <td> Documento</td>
                <td>
                    <input type="hidden" id="hidCodigoDocumento">
                    <label id="lblinvid" style="cursor: pointer; font-weight:bold;">
                        CODIGO DOCUMENTO
                    </label>
                </td>
            </tr>
            <tr id="trmonto">
                <td>
                    MONTO
                </td>
                <td><input type="text" id="txtmonto"></td>
            </tr>
            <tr id="trfecha">
                <td>
                    FECHA
                </td>
                <td><input type="text" id="txtfechadocumento"></td>
            </tr>

            <tr>
                <td style="width: 210px">Descripción del Requerimiento :</td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea id="txtAprobacionDesc" name="txtAprobacionDesc" rows="7" cols="65" placeholder="Ingrese descripción" style="width: 543px; height: 118px" maxlength="512"></textarea>
                </td>

            </tr>
        </table>
    </div>

</body>
</html>
